@import "../../styles/config.styl"
@import "nib"

:host {
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.status {
    background: $color-quinary;
    text-align: center;
    font-size: $font-size-small;
    padding: 10px;

    .not-connected {
        color: $text-color-faint;
    }
}

button, padlock-toggle-button {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 5px;
}

.note {
    background: $color-quinary;
    font-size: $font-size-tiny;
    padding: 15px;
    margin-bottom: 5px;
    text-align: center;
}

.email-input-wrapper {
    margin-top: 30px;
    margin-bottom: 5px;

    input {
        width: 100%;
        text-align: center;
    }
}
