<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../padlock.html">
<link rel="import" href="../view/view.html">
<link rel="import" href="../input/input.html">
<link rel="import" href="../progress/progress.html">
<link rel="import" href="../view/view-styles.html">
<link rel="import" href="cloud-view-styles.html">

<dom-module id="padlock-cloud-view">

    <template>

        <style include="shared-styles"></style>
        <style include="view-styles"></style>
        <style include="cloud-view-styles"></style>

        <section hidden$="{{ _isSet(settings.sync_key) }}">
            <div class="note">
                Padlock Cloud provides a convenient way of synchronising your data between all your devices. By
                securely storing your data in the cloud, it not only allows you to easily access it from anywhere
                but also acts as a backup in case you should loose your device or accidentally erase your data.
                Before being sent to our servers, your data is encrypted locally using your master password to make
                sure that nobody can read it - not even we!
            </div>
            <button on-tap="connect">Get Started</button>
        </section>

        <section hidden$="{{ !_isActivationPending(settings.sync_key, settings.sync_connected) }}">
            <div class="note">
                <strong>Activation pending</strong> - You are almost done connecting this device!
                An email was sent to <strong>{{ settings.sync_email }}</strong> with further instructions.
                Didn't get it? Try again using the button below!
            </div>
            <button on-tap="connect">Try Again</button>
            <button on-tap="_cancelConnect">Cancel</button>
        </section>

        <section hidden$="{{ !settings.sync_connected }}">
            <div class="note" hidden$="{{ settings.sync_readonly }}">
                <strong>Connected</strong> - This device is connected to the Padlock Cloud account <strong>{{ settings.sync_email }}</strong>.
                Connect all your devices with the same account to easily synchronize your data between them!
            </div>
            <div class="note" hidden$="{{ !settings.sync_readonly }}">
                <strong>Subscription expired</strong> - It seems your Padlock Cloud subscription for the account <strong>{{ settings.sync_email }}</strong> has expired which means that you can download your data from the cloud but you won't be able to update it or synchronize with any other devices. Renew your subscription now to unlock the full potential of Padlock Cloud!
            </div>
            <button hidden$="{{ !settings.sync_readonly }}" on-tap="_buySubscription">Renew Subscription</button>
            <button on-tap="_synchronize">Synchronize</button>
            <button on-tap="_resetRemoteData">Reset Data</button>
            <button on-tap="_disconnect">Disconnect</button>
            <padlock-toggle-button value="{{ settings.sync_auto }}" label="Auto Sync"></padlock-toggle-button>
        </section>

        <section>
            <div class="note">
                By providing a custom URL, you can synchronize your data with a server other than the official
                Padlock Cloud server. <strong>WARNING: This is only recommended for advanced users!</strong>
            </div>
            <padlock-toggle-button value="{{ settings.sync_custom_host }}" label="Use Custom Server" on-change="_customHostChanged"></padlock-toggle-button>
            <div class="tap-highlight" hidden$="{{ !settings.sync_custom_host }}">
                <input is="padlock-input" id="customUrlInput" placeholder="Enter Custom URL" value="{{ settings.sync_host_url::change }}"
                    pattern="^https://(-\.)?([^\s/?\.#-]+\.?)+(/[^\s]*)?$" required>
                <div class="note warning">
                    <strong>Invalid URL</strong> - Make sure that the URL is of the form <strong>https://myserver.tld:port</strong>.
                    Note that a <strong>https</strong> connection is strictly required.
                </div>
            </div>
        <section>

        <padlock-progress>Connecting...</padlock-progress>

    </template>

    <script>
    /* global Polymer, padlock */

    (function(Polymer, ViewBehavior, CloudSource) {
        "use strict";

        Polymer({
            is: "padlock-cloud-view",
            behaviors: [ViewBehavior],
            ready: function() {
                this.headerTitle = "Padlock Cloud";
                this.leftHeaderIcon = "left";
                this.rightHeaderIcon = "";
                this.adjustScrollHeight = true;
            },
            properties: {
                settings: Object,
                _activated: {
                    type: Boolean,
                    value: false
                }
            },
            observers: [
                "_customUrlChanged(settings.sync_host_url)"
            ],
            //* Opens the dialog for connecting to the Padlock Cloud
            connect: function() {
                this.set("settings.sync_key", "");
                this.fire("open-form", {
                    components: [
                        {element: "input", type: "email", placeholder: "Email Address", name: "email",
                            value: this.settings.sync_email, autofocus: true},
                        {element: "button", label: "Connect", submit: true},
                        {element: "button", label: "Cancel", cancel: true}
                    ],
                    title: "Connect to Padlock Cloud",
                    submit: this.requestAuthToken.bind(this)
                });
            },
            _disconnect: function() {
                this.fire("open-form", {
                    components: [
                        {element: "button", label: "Disconnect", submit: true},
                        {element: "button", label: "Cancel", cancel: true}
                    ],
                    title: "Are you sure you want to disconnect from Padlock Cloud?",
                    submit: function() {
                        this.set("settings.sync_connected", false);
                        this.set("settings.sync_key", "");
                        this.set("settings.sync_email", "");
                        this.set("settings.sync_readonly", false);
                    }.bind(this)
                });
            },
            //* Requests an api key from the cloud api with the entered email and device name
            requestAuthToken: function(data) {
                var email = data.email;
                var create = data.create;

                if (!email) {
                    var message = "Please enter an email address!";
                    this.fire("notify", {
                        message: message,
                        duration: 2000
                    });
                    return;
                }

                this.set("settings.sync_email", email);
                this.set("settings.sync_key", "");

                // Show progress indicator
                this.$$("padlock-progress").show();

                var cloudSource = new CloudSource(this.settings);
                cloudSource.requestAuthToken(email, create, function(authToken) {
                    this.$$("padlock-progress").hide();
                    // We're getting back the api key directly, but it will valid only
                    // after the user has visited the activation link in the email he was sent
                    this.set("settings.sync_connected", false);
                    this.set("settings.sync_key", authToken.token);
                    this._testCredentials(true);
                    this._alert("Almost done! An email was sent to " + email + " with further instructions.");
                }.bind(this), function(e) {
                    this.$$("padlock-progress").hide();
                    if (e == padlock.ERR_CLOUD_NOT_FOUND) {
                        data.create = true;
                        this.requestAuthToken(data);
                    } else if (e == padlock.ERR_CLOUD_SUBSCRIPTION_REQUIRED) {
                        this.fire("open-form", {
                            title: "No existing Padlock Cloud account was found. In order to create a new one, " +
                                "you need a Padlock Cloud subscription.",
                            components: [
                                {element: "button", label: "Continue", submit: true},
                                {element: "button", label: "Cancel", cancel: true}
                            ],
                            submit: this._buySubscription.bind(this)
                        });
                    } else {
                        this.fire("error", e);
                    }
                }.bind(this));
            },
            _isActivationPending: function() {
                return this.settings.sync_key && !this.settings.sync_connected;
            },
            _resetRemoteData: function() {
                this.fire("open-form", {
                    components: [
                        {element: "button", label: "Reset", submit: true},
                        {element: "button", label: "Cancel", cancel: true}
                    ],
                    title: "Are you sure you want to reset all your data on Padlock Cloud?",
                    submit: this._requestResetRemoteData.bind(this)
                });
            },
            _requestResetRemoteData: function() {
                var email = this.settings.sync_email;
                var cloudSource = new CloudSource(this.settings);

                this.$$("padlock-progress").show();

                cloudSource.requestDataReset(function() {
                    this.$$("padlock-progress").hide();
                    this._alert("Almost done! An email was sent to " + email + " with further instructions.");
                }.bind(this), function(e) {
                    this.$$("padlock-progress").hide();
                    this.fire("error", e);
                }.bind(this));
            },
            //* Shows an alert dialog with a given _message_
            _alert: function(message) {
                this.fire("alert", {message: message});
            },
            _testCredentials: function(poll) {
                var cloudSource = new CloudSource(this.settings);

                cloudSource.testCredentials(function(connected) {
                    this.set("settings.sync_connected", connected);

                    if (connected) {
                        this._connectionSuccess();
                    }

                    if (!connected && poll && this.settings.sync_key) {
                        clearTimeout(this._testCredsTimeout);
                        this._testCredsTimeout = setTimeout(this._testCredentials.bind(this, true), 1000);
                    }
                }.bind(this), this.fire.bind(this, "error"));
            },
            _stopTestCredentials: function() {
                clearTimeout(this._testCredsTimeout);
            },
            _showingChanged: function() {
                if (this.showing && this.settings.sync_key && !this.settings.sync_connected) {
                    this._testCredentials(true);
                } else if (!this.showing) {
                    this._stopTestCredentials();
                }
            },
            _isSet: function(val) {
                return !!val;
            },
            leftHeaderButton: function() {
                this.fire("back");
            },
            _synchronize: function() {
                this.fire("synchronize");
            },
            _connectionSuccess: function() {
                this.fire("open-form", {
                    components: [
                        {element: "button", label: "Synchronize Now", tap: this._synchronize.bind(this), submit: true}
                    ],
                    title: "You have successfully connected to Padlock Cloud! " +
                        "You can now start synchronizing your data!"
                });
            },
            _customHostChanged: function() {
                if (this.settings.sync_custom_host) {
                    this.fire("open-form", {
                        components: [
                            {element: "button", label: "Continue", submit: true},
                            {element: "button", label: "Cancel", submit: true, tap: function() {
                                this.set("settings.sync_custom_host", false);
                            }.bind(this)}
                        ],
                        title: "Are you sure you want to use a custom server for synchronization? " +
                            "This options is only recommended for advanced users!"
                    });
                }
            },
            _customUrlChanged: function() {
                this.$.customUrlInput.checkValidity();
            },
            _buySubscription: function() {
                this.fire("buy-subscription");
            },
            _cancelConnect: function() {
                this.set("settings.sync_key", "");
                this._stopTestCredentials();
            }
        });

    })(Polymer, padlock.ViewBehavior, padlock.CloudSource, padlock.pay);

    </script>

</dom-module>
