@import "animation";
@import "compass/css3/transform";
@import "../../styles/config.scss";

@include keyframes(slideInFromRight) {
    from {@include transform(translate3d(100%, 0, 0));}
    50% {@include transform(translate3d(-2%, 0, 0));}
    to {@include transform(translate3d(0, 0, 0));}
}

@include keyframes(slideInFromLeft) {
    from {@include transform(translate3d(-100%, 0, 0));}
    50% {@include transform(translate3d(2%, 0, 0));}
    to {@include transform(translate3d(0, 0, 0));}
}

@include keyframes(slideOutToRight) {
    from {@include transform(translate3d(0, 0, 0));}
    50% {@include transform(translate3d(100%, 0, 0));}
    to {@include transform(translate3d(100%, 0, 0));}
}

@include keyframes(slideOutToLeft) {
    from {@include transform(translate3d(0, 0, 0));}
    50% {@include transform(translate3d(-100%, 0, 0));}
    to {@include transform(translate3d(-100%, 0, 0));}
}

@include keyframes(slideInFromBottom) {
    from {@include transform(translate3d(0, 100%, 0));}
    50% {@include transform(translate3d(0, -2%, 0));}
    to {@include transform(translate3d(0, 0, 0));}
}

@include keyframes(slideOutToBottom) {
    from {@include transform(translate3d(0, 0, 0));}
    50% {@include transform(translate3d(0, 100%, 0));}
    to {@include transform(translate3d(0, 100%, 0));}
}

@include keyframes(fadeOut) {
    from {opacity: 1;}
    50% {opacity: 0;}
    to {opacity: 0;}
}

:host {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding-top: $row-height;
}