@import "../../styles/config";
@import "../../styles/mixins";
@import "../view/view";
@import "nib";

:host {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.category {
    line-height: $row-height;
    cursor: pointer;
    margin: 5px 0;
    padding: 0 10px;
    text-align: center;
    position: relative;
    background: $color-quinary;

    shape-shifter {
        position: absolute;
        right: 0;
        top: 0;
        padding: 10px;
    }

    &[selected] {
        color: $text-color-light;
        background: $color-secondary;
    }
}

.new-button {
    width: 100%;
}

.header {
    background: $color-quinary;
    color: $text-color-faint;
    text-align: center;
    font-size: 16px;
    padding: 10px;
    overflow: ellipsis;
}
