@import "../../styles/config";
@import "../../styles/mixins";
@import "../view/view";
@import "nib";

:host {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.category {
    background: #fff;
    line-height: $row-height;
    color: $text-color-light;
    cursor: pointer;
    margin: 5px 0;
    padding: 0 10px;
    text-align: center;
    position: relative;

    shape-shifter {
        position: absolute;
        right: 0;
        top: 0;
        padding: 10px;
    }

    &.color1 {
        color: $cat-color-1;
    }

    &.color2 {
        color: $cat-color-2;
    }

    &.color3 {
        color: $cat-color-3;
    }

    &.none {
        color: $color-primary;

        &[selected] {
            background: $color-primary;
        }
    }

    &[selected] {
        color: $text-color-light;

        &.color1 {
            background: $cat-color-1;
        }

        &.color2 {
            background: $cat-color-2;
        }

        &.color3 {
            background: $cat-color-3;
        }

        shape-shifter {
            color: $text-color-light;
        }
    }
}

.new-button {
    width: 100%;
    margin-top: 5px;
}

padlock-select {
    line-height: 0;

    & /deep/ .color1 {
        background: $cat-color-1;
    }

    & /deep/ .color2 {
        background: $cat-color-2;
    }

    & /deep/ .color3 {
        background: $cat-color-3;
    }

    &::shadow {
        button {
            color: $text-color-light;
        }

        shape-shifter::shadow line {
            stroke: $text-color-light !important;
        }
    }

    padlock-option {
        color: transparent;
    }
}

.header {
    background: #fff;
    color: $text-color-faint;
    text-align: center;
    font-size: 16px;
    padding: 10px;
    overflow: ellipsis;
}
