@import "../../styles/config.scss";
@import "../../styles/mixins.scss";
@import "compass/css3";
@import "animation";


@include keyframes(bounceIn) {
    0% {@include transform(scale(0.1)); opacity: 0;}
    30% {@include transform(scale(1.1)); opacity: 1;}
    70% {@include transform(scale(0.95));}
    100% {@include transform(scale(1));}
}

@include keyframes(bounce) {
    0% {@include transform(scale(1));}
    30% {@include transform(scale(1.1));}
    70% {@include transform(scale(0.95));}
    100% {@include transform(scale(1));}
}

:host {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

.list {
    text-align: center;
    padding: 10px 0 15px 10px;
}

.category {
    $size: 70px;
    display: inline-block;
    width: $size;
    height: $size;
    margin: 10px 10px 0 0;
    border-radius: $size;
    background: #fff;
    line-height: $size;
    text-align: center;
    font-size: 16px;
    color: $text-color-light;
    padding: 5px;
    border: solid 5px #fff;
    font-weight: $font-weight-bold;
    cursor: pointer;

    @include animation(bounceIn 0.5s ease 0s both);
    @include transition(border-color 0.2s);

    .category-inner {
        width: 100%;
        height: 100%;

        @include ellipsis;
    }

    &.color1 {
        background: $cat-color-1;
    }

    &.color2 {
        background: $cat-color-2;
    }

    &.color3 {
        background: $cat-color-3;
    }

    &.new {
        color: $color-primary;
    }

    &.selected {
        border-color: $color-primary;
    }

    &.none {
        background: transparent;
        color: $text-color;
    }
}

padlock-select {
    line-height: 0;

    padlock-option {
        color: transparent;

        &.color1 {
            background: $cat-color-1;
        }

        &.color2 {
            background: $cat-color-2;
        }

        &.color3 {
            background: $cat-color-3;
        }

        &::shadow shape-shifter::shadow line {
            stroke: $text-color-light;
        }
    }
}