<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../view/view.html">
<link rel="import" href="../dialog/dialog.html">

<polymer-element name="padlock-categories-view" extends="padlock-view" attributes="categories record" touch-action="pan-y">
    <template>
        <!-- STYLES -->
        <link href="categories-view.css" rel="stylesheet" type="text/css">
        <div class="list">
            <template repeat="{{ category in categoryList }}">
                <div on-tap="{{ categoryTapped }}"
                    class="category color{{ category.color }} {{ category.name == record.category ? 'selected' : '' }}">
                    <div class="category-inner">{{ category.name }}</div>
                </div>
            </template>
            <div class="category new" on-tap="{{ newCategory }}">
                <div class="category-inner">
                    New...
                </div>
            </div>
        </div>
        <padlock-dialog id="newCategoryDialog">
            <padlock-select id="newColorSelect" openUpwards="true">
                <padlock-option selected="true" class="color1" selectedClass="color1" value="1">Select a color</padlock-option>
                <padlock-option class="color2" selectedClass="color2" value="2">Select a color</padlock-option>
                <padlock-option class="color3" selectedClass="color3" value="3">Select a color</padlock-option>
            </padlock-select>
            <input is="fast-input" id="newNameInput" placeholder="Category Name"/>
            <button class="primary" on-tap="{{ confirmNewCategory }}">Add</button>
        </padlock-dialog>
    </template>
    <script src="categories-view.js"></script>
</polymer>