<link rel="import" href="../../padlock.html">
<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../view/view.html">
<link rel="import" href="../dialog/dialog.html">
<link rel="import" href="../select/select.html">

<dom-module id="padlock-categories-view">

    <link href="categories-view.css" rel="import" type="css">

    <template>
        <div class="list">
            <div id="noneButton" on-tap="selectNone" class="category none">
                <div class="category-inner">None</div>
            </div>
            <template is="dom-repeat" items="{{ categoryList }}">
                <div on-tap="categoryTapped" on-hold="editCategory"
                    class$="{{ _categoryClass(item.color) }}">
                    <div class="category-inner">{{ item.name }}</div>
                </div>
            </template>
            <div id="newButton" class="category new" on-tap="newCategory">
                <div class="category-inner">
                    New...
                </div>
            </div>
        </div>
        <padlock-dialog id="editDialog" on-close="editDialogClosed">
            <padlock-select id="colorSelect" open-upwards="true">
                <padlock-option class="color1" selected-class="color1" value="1" selected>Select a color</padlock-option>
                <padlock-option class="color2" selected-class="color2" value="2">Select a color</padlock-option>
                <padlock-option class="color3" selected-class="color3" value="3">Select a color</padlock-option>
            </padlock-select>
            <input is="padlock-input" id="nameInput" placeholder="Category Name"/>
            <button class="primary" on-tap="editEnter">Save</button>
            <button id="removeButton" on-tap="removeCategory">Remove</button>
        </padlock-dialog>
        <padlock-dialog id="confirmRemoveDialog">
            <div class="title">Are you sure you want to remove this category? The category will be removed from all other records as well.</div>
            <button on-tap="confirmRemove" class="primary">Remove</button>
            <button on-tap="cancelRemove">Cancel</button>
        </padlock-dialog>
    </template>
    <script src="categories-view.js"></script>
</dom-module>
