<link rel="import" href="../../padlock.html">
<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/shape-shifter/shape-shifter.html">
<link rel="import" href="../view/view.html">
<link rel="import" href="../dialog/dialog.html">
<link rel="import" href="../select/select.html">

<dom-module id="padlock-categories-view">

    <link href="categories-view.css" rel="import" type="css">

    <template>
        <div class="header">Select a category</div>

        <div class="list" hidden$="{{ !_hasCategories(_categoryList.length) }}">
            <div id="noneButton" on-tap="_selectNone" class="category" selected$="{{ _isSelected('', record.category) }}">
                <div class="category-inner">None</div>
            </div>
            <template is="dom-repeat" items="{{ _categoryList }}">
                <div on-tap="_categoryTapped" class="category" selected$="{{ _isSelected(item.name, record.category) }}">
                    <div>{{ item.name }}</div>
                    <shape-shifter shape="more" on-tap="_editCategory"></shape-shifter>
                </div>
            </template>
        </div>

        <button id="newButton" class="new-button" on-tap="_newCategory" hidden$="{{ _hasCategories(_categoryList.length) }}">New Category...</button>

        <padlock-dialog id="editDialog">
            <div class="title" hidden$="{{ _editing }}">New Category</div>
            <input is="padlock-input" id="nameInput" placeholder="Category Name"/>
            <button class="primary" on-tap="_editEnter">Save</button>
            <button hidden$="{{ !_editing }}" on-tap="_removeCategory">Remove</button>
        </padlock-dialog>

        <padlock-dialog id="confirmRemoveDialog">
            <div class="title">Are you sure you want to remove this category? The category will be removed from all other records as well.</div>
            <button on-tap="_confirmRemove" class="primary">Remove</button>
            <button on-tap="_cancelRemove">Cancel</button>
        </padlock-dialog>

    </template>
    <script src="categories-view.js"></script>
</dom-module>
