<link rel="import" href="../../padlock.html">
<link rel="import" href="../../../bower_components/polymer/polymer.html">
<script src="../../../bower_components/autosize/dist/autosize.js"></script>

<script>

/* jshint browser: true */
/* global Polymer, padlock, cordova, autosize */

(function(Polymer, platform, autosize) {
    "use strict";

    // currently selected input
    var currentInput;

    var overrideNativeFocus = platform.isIOS();
    if (overrideNativeFocus) {
        // On iOS we need to pretty much completely suppress the mousedown event to prevent funky behavior
        document.addEventListener("mousedown", function(e) {
            e.preventDefault();
            e.stopPropagation();
            e.stopImmediatePropagation();
        });

        // Blur current input when tapping anywhere outside an input element
        Polymer.Gestures.add(document, "tap", function() {
            currentInput && currentInput.blur();
        });
    }

    // Shows/hides the keyboard accessory bar
    function showAccessoryBar(show) {
        typeof cordova != "undefined" && cordova.plugins.Keyboard &&
            cordova.plugins.Keyboard.hideKeyboardAccessoryBar(!show);
    }

    // Even with the moudown event suppressed, the keyboard still pops up in unwanted situations
    // sometimes. We want to manually hide the keyboard in these situations.
    window.addEventListener("native.keyboardshow", function() {
        if (!currentInput) {
            cordova.plugins.Keyboard.close();
        }
    });

    var inputBehavior = {
        properties: {
            hasFocus: {
                type: Boolean,
                value: false,
                notify: true
            },
            selectAllOnFocus: Boolean,
            showAccessoryBar: Boolean
        },
        hostAttributes: {
            autocorrect: "off",
            autocapitalize: "off",
            spellcheck: "false"
        },
        listeners: {
            tap: "_tap",
            focus: "_focus",
            blur: "_blur",
            keydown: "_keydown"
        },
        selectAll: function() {
            this.setSelectionRange(0, this.value.length);
        },
        _tap: function(e) {
            if (overrideNativeFocus && !this.hasFocus) {
                this.setSelectionRange(this.value.length, this.value.length);
            }
            e.stopPropagation();
        },
        _focus: function() {
            this.hasFocus = true;

            showAccessoryBar(this.showAccessoryBar);

            if (this.selectAllOnFocus) {
                // Need to do this asynchronously in some browsers or it won't work
                setTimeout(function() {
                    this.selectAll();
                }.bind(this), 10);
            }

            currentInput = this;
        },
        _blur: function() {
            this.hasFocus = false;
            if (currentInput == this) {
                currentInput = null;
            }
        },
        _keydown: function(e) {
            if (e.keyCode == 13) {
                this.fire("enter", {keyboardEvent: e});
            }
        }
    };

    var textAreaBehavior = {
        properties: {
            autosize: {
                type: Boolean,
                value: false,
                observer: "_autosizeChanged"
            }
        },
        _autosizeChanged: function() {
            if (this.autosize) {
                autosize(this);
            } else {
                autosize.destroy(this);
            }
        },
        ready: function() {
            this.async(this.updateSize, 100);
        },
        updateSize: function() {
            this.autosize && autosize.update(this);
        }
    };

    Polymer({
        is: "padlock-input",
        extends: "input",
        behaviors: [inputBehavior]
    });

    Polymer({
        is: "padlock-textarea",
        extends: "textarea",
        behaviors: [inputBehavior, textAreaBehavior]
    });

})(Polymer, padlock.platform, autosize);

</script>
