@font-face {
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 400;
    src: url(./SpaceMono-400.woff2) format("woff2");
}

@font-face {
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 700;
    src: url(./SpaceMono-700.woff2) format("woff2");
}
