<link rel="import" href="../../padlock.html">
<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../view/view.html">
<link rel="import" href="../input/input.html">
<link rel="import" href="../select/select.html">
<link rel="import" href="../progress/progress.html">
<link rel="import" href="../../styles/shared-styles.html">
<link rel="import" href="../view/view-styles.html">
<link rel="import" href="import-view-styles.html">

<dom-module id="padlock-import-view">

    <template>

        <style include="shared-styles"></style>
        <style include="view-styles"></style>
        <style include="import-view-styles"></style>

        <div class="flex-wrapper">

            <padlock-select value="{{ _type }}">
                <padlock-option value="csv" label="CSV" default></padlock-option>
                <padlock-option value="padlock" label="Padlock Backup"></padlock-option>
                <padlock-option value="secustore" label="SecuStore Backup"></padlock-option>
                <padlock-option value="lastpass" label="LastPass Data"></padlock-option>
            </padlock-select>

            <textarea id="rawInput" is="padlock-textarea" select-all-on-focus show-accessory-bar
                on-input="_dataInput"></textarea>
            <button class="import-button primary" on-tap="_startImport">import</button>
        </div>

        <padlock-progress>importing...</padlock-progress>

    </template>

    <script src="import-view.js"></script>

</dom-module>
