bower_components
node_modules
deploy
build.html
build.js

# stylus-generated css files
src/components/**/*.css
src/styles/mixins.css
src/styles/config.css

# generated html modules
src/**/*-styles.html

