node_modules
packages/*/node_modules
packages/*/docs
packages/core/lib
packages/billing/lib
packages/app/dist
packages/app/build
packages/app/test/dist
packages/app/sw.js
packages/app/env.js
packages/server/db
packages/cordova/platforms
packages/cordova/plugins
packages/cordova/www
packages/cordova/dist
packages/electron/build
packages/electron/app
packages/electron/dist
*.env
packages/pwa/dist
packages/server/logs
packages/server/data
packages/server/attachments
/logs
/pwa
/data
packages/extension/dist
packages/tauri/dist
package-lock.json
packages/app/package-lock.json
packages/cordova/package-lock.json
packages/core/package-lock.json
packages/electron/package-lock.json
packages/extension/package-lock.json
packages/locale/package-lock.json
packages/pwa/package-lock.json
packages/server/package-lock.json
packages/tauri/package-lock.json
yarn.lock
.idea/
