packages/app/src/core/*.js
packages/extension/dist/**/*
packages/cordova/plugins/**/*
packages/cordova/platforms/**/*
packages/cordova/www/**/*
packages/electron/app/**/*
packages/electron/build/**/*
packages/electron/dist/**/*
packages/tauri/dist/**/*
packages/tauri/src-tauri/target/**/*
package-lock.json
