<?xml version='1.0' encoding='utf-8'?>
<widget id="com.maklesoft.padlock" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Padlock</name>
    <description>
    </description>
    <author email="contact@maklesoft.com" href="http://maklesoft.com">
        MaKleSoft
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="Fullscreen" value="false" />
    <preference name="Orientation" value="portrait" />
    <preference name="DisallowOverscroll" value="true"/>
    <preference name="HideKeyboardFormAccessoryBar" value="true"/>
    <preference name="KeyboardShrinksView" value="false" />
    <preference name="KeyboardDisplayRequiresUserAction" value="false" />
</widget>
