@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 300;
    src: local("Nunito Light"), local("Nunito-Light"), url(./Nunito-Light.ttf) format("truetype");
}
@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    src: local("Nunito Regular"), local("Nunito-Regular"), url(./Nunito-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 600;
    src: local("Nunito SemiBold"), local("Nunito-SemiBold"), url(./Nunito-SemiBold.ttf) format("truetype");
}
@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    src: local("Nunito Bold"), local("Nunito-Bold"), url(./Nunito-Bold.ttf) format("truetype");
}
@font-face {
    font-family: "Inconsolata";
    font-style: normal;
    font-weight: 400;
    src: local("Inconsolata Regular"), local("Inconsolata-Regular"), url(./Inconsolata-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Padlock";
    src: url("./Padlock.eot");
    src: url("./Padlock.eot") format("embedded-opentype"), url("./Padlock.woff") format("woff"),
        url("./Padlock.ttf") format("truetype"), url("./Padlock.svg#Padlock") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "FontAwesome";
    src: url("./fontawesome-webfont.eot");
    src: url("./fontawesome-webfont.eot") format("embedded-opentype"),
        url("./fontawesome-webfont.woff2") format("woff2"), url("./fontawesome-webfont.woff") format("woff"),
        url("./fontawesome-webfont.ttf") format("truetype"), url("./fontawesome-webfont.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
