padlock-header > div {
    padding-top: 20px !important;
}

padlock-app .view:not(padlock-lock-view):not(padlock-start-view) {
    top: 70px !important;
}

padlock-app .view:not(.showing) {
    opacity: 1;
    z-index: auto;
    display: none;
}

padlock-record-view textarea.value {
    padding-left: 12px !important;
}
