@import "../../config.scss";
@import "compass/css3/transform";
@import "compass/css3/transition";
@import "animation";

:host {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    line-height: 0;
};

svg {
    width: 100%;
    height: 100%;
}

line {
    stroke: $text-color;
    stroke-width: 6;
    // @include transform-origin(center center 0);
    @include transition(transform 0.5s);
    @include transform(translate(0, 0) scale(0.01));
}

.plus line:nth-child(1) {
    @include transform(translate(0, 0) scale(12, 1));
}

.plus line:nth-child(3) {
    @include transform(translate(0, 0) rotate(90deg) scale(12, 1));
}

.cancel line:nth-child(1) {
    @include transform(translate(0, 0) rotate(135deg) scale(12, 1));
}

.cancel line:nth-child(3) {
    @include transform(translate(0, 0) rotate(-135deg) scale(12, 1));
}

.check line:nth-child(1) {
    @include transform(translate(-24.7px, 10.5px) rotate(45deg) scale(6, 1));
}

.check line:nth-child(3) {
    @include transform(translate(11.5px, 0) rotate(-45deg) scale(12, 1));
}

.menu line:nth-child(1) {
    @include transform(translate(0, -23px) scale(12, 1));
}

.menu line:nth-child(2) {
    @include transform(translate(0, 0) scale(12, 1));
}

.menu line:nth-child(3) {
    @include transform(translate(0, 23px) scale(12, 1));
}

.more line:nth-child(1) {
    @include transform(translate(-26px, 0) scale(2, 2));
}

.more line:nth-child(2) {
    @include transform(translate(0, 0) scale(2, 2));
}

.more line:nth-child(3) {
    @include transform(translate(26px, 0) scale(2, 2));
}

.arrow-right line:nth-child(1) {
    @include transform(translate(0, -17px) rotate(45deg) scale(9, 1));
}

.arrow-right line:nth-child(3) {
    @include transform(translate(0, 17px) rotate(-45deg) scale(9, 1));
}

.arrow-left line:nth-child(1) {
    @include transform(translate(0, -17px) rotate(-45deg) scale(9, 1));
}

.arrow-left line:nth-child(3) {
    @include transform(translate(0, 17px) rotate(45deg) scale(9, 1));
}

.arrow-up line:nth-child(1) {
    @include transform(translate(-17px, 0) rotate(-45deg) scale(9, 1));
}

.arrow-up line:nth-child(3) {
    @include transform(translate(17px, 0) rotate(45deg) scale(9, 1));
}

.arrow-down line:nth-child(1) {
    @include transform(translate(-17px, 0) rotate(45deg) scale(9, 1));
}

.arrow-down line:nth-child(3) {
    @include transform(translate(17px, 0) rotate(-45deg) scale(9, 1));
}

.spinner line:nth-child(1) {
    @include animation(shapeshifter-spinner-1 2s linear infinite both);
}

.spinner line:nth-child(2) {
    @include animation(shapeshifter-spinner-2 2s linear infinite 0.3s both);
}

.spinner line:nth-child(3) {
    @include animation(shapeshifter-spinner-3 2s linear infinite 0.6s both);
}