<link rel="import" href="../../../bower_components/polymer/polymer.html">

<polymer-element name="padlock-shapeshifter" attributes="shape">
    <template>
        <link href="shapeshifter.css" rel="stylesheet" type="text/css">
        <svg class="{{ shape }}" viewBox="0 0 100 100">
            <g transform="translate(50, 50)">
                <line x1="-3" y1="0" x2="3" y2="0" />
                <line x1="-3" y1="0" x2="3" y2="0" />
                <line x1="-3" y1="0" x2="3" y2="0" />
            </g>
        </svg>
    </template>
    <script>
        Polymer("padlock-shapeshifter");
    </script>
</polymer-element>