@import "../../styles/config";
@import "../../styles/mixins";
@import "nib";

@keyframes reveal {
    from { transform: translate3d(0, 100%, 0); opacity: 0; }
    50% { transform: translate3d(0, -10%, 0); opacity: 1; }
    to { transform: translate3d(0, 0, 0); opacity: 1; }
}

:host {
    display: flex;
    flex-direction: column;
    background-color: $color-primary;
    overflow: hidden;
    top: 0;
    color: $text-color-light;
    transition: background-color 1s, color 1s;
    text-shadow();
}

:host[mode="restore-cloud"] {
    background-color: $color-quaternary;
    color: $color-primary;

    .enter-button, input {
        color: inherit;
    }

    .switch-button {
        color: $text-color-light;
    }
}

.form-wrapper {
    flex: 1;
    position: relative;
    margin-top: 70px;
}

.get-started, .restore-cloud {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    transition: transform 0.7s, opacity 0.7s;

    input, padlock-password-input {
        text-align: center;
        width: 100%;
    }
}

.get-started {
    color: $text-color-light;

    input, padlock-password-input {
        background: rgba(255, 255, 255, 0.1);
    }
}

.restore-cloud {
    color: $color-primary;

    .header {
        font-size: 35px;
        font-weight: 400;
    }
}

:host[mode="restore-cloud"] .get-started, :host:not([mode="restore-cloud"]) .restore-cloud {
    transform: translate(0, 50px);
    opacity: 0;
    pointer-events: none;
    transition-duration: 0.2s;
}

.tap-highlight {
    margin-bottom: 10px;
}

.header {
    font-size: 50px;
    font-weight: 300;
    margin-bottom: 30px;
    animation: reveal 0.5s ease 0.2s both;
}

.pwdinput {
    animation: reveal 0.5s ease 0.4s both;
}

.enter-button {
    width: 100%;
    margin-top: 10px;
    animation reveal 0.5s ease 0.6s both;
    font-size: 115%;
}

.header, .enter-button {
    text-shadow: darken($color-primary, 30%) 1px 1px;
}

.switch-button {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    background: transparent;
    transition: opacity 0.5s ease;

    &:not(.reveal) {
        opacity: 0;
    }
}

padlock-lock {
    animation: reveal 0.5s ease 0.8s both;
}

.lock-wrapper {
    align-self: center;
}

padlock-progress {
    background: $color-secondary;
    z-index: 1;
}

@media (max-height: 500px) {
    padlock-lock {
        height: 0;
    }

    :host .switch-button {
        color: $text-color-light;
    }

    :host[mode="restore-cloud"] .switch-button {
        color: $color-primary;
    }

    .switch-button {
        color: $color-primary;
    }

    .form-wrapper {
        margin-top: 0;
    }
}
