$font-family = "Clear Sans";
$font-family-fallback = sans-serif;

$font-size-tiny = 14px;
$font-size-small = 16px;
$font-size-default = 18px;
$font-weight-thin = 100;
$font-weight-light = 300;
$font-weight-regular = 400;
$font-weight-bold = 700;

$color-primary = #59c6ff;
$color-secondary = #555555;
$color-tertiary = #c5c5c5;
$color-quaternary = #f5f5f5;
$color-quinary = #ffffff;
$color-error = red;

$text-color = $color-secondary;
$text-color-light = $color-quinary;
$text-color-faint = $color-tertiary;

$color-blue = #59c6ff;
$color-green = #9eed6d;
$color-yellow = #ffe85c;
$color-red = #ff8283;

$shadow-color = alpha(darken($color-primary, 30%), 80%);

$placeholder-color = $text-color-faint;
$placeholder-color-light = $color-quaternary;

$scrim-color = $color-quinary;
$scrim-opacity = 0.8;

$row-height = 50px;

$toaster-easing = cubic-bezier(1, -0.3, 0, 1.3);
