unselectable() {
    cursor: default;
    user-select: none;
}

position-sticky() {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -o-sticky;
    position: -ms-sticky;
    position: sticky;
}