<link rel="import" href="../../../bower_components/polymer/polymer.html">

<polymer-element name="padlock-progress" attributes="text" style="display: none">
    <template>
        <link href="progress.css" rel="stylesheet" type="text/css">
        <span><content></content></span>
    </template>
    <script>
        Polymer("padlock-progress", {
            ready: function() {
                require(["padlock/platform"], function(platform) {
                    this.addEventListener(platform.getAnimationIterationEventName(), this.iteration.bind(this));
                }.bind(this));
            },
            show: function() {
                this.hidePending = false;
                this.classList.remove("animated");
                this.style.display = "";
                // Trigger style recalculation so that adding the 'animated' class has an effect
                this.offsetLeft;
                this.classList.add("animated");
            },
            hide: function() {
                // We want the animation to finish first, so we'll just set this flag
                // and do the hiding after the next iteration
                this.hidePending = true;
            },
            iteration: function(event) {
                // Hide the element if hide() was called during the last iteration
                if (this.hidePending && event.impl.target == this.impl) {
                    this.style.display = "none";
                }
            }
        });
    </script>
</polymer-element>