@import "animation";
@import "compass/css3/transform";

@include keyframes(leftToRight) {
    from {@include transform(translate(-100%, 0));}
    80% {@include transform(translate(100%, 0));}
    to {@include transform(translate(100%, 0));}
}

@include keyframes(rightToLeft) {
    from {@include transform(translate(50%, 0));}
    80% {@include transform(translate(-50%, 0));}
    to {@include transform(translate(-50%, 0));}
}

:host {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 30px;
    line-height: 30px;
    background: #59c6ff;
    overflow: hidden;
    font-size: 16px;
}

:host(.animated) {
    @include animation(leftToRight 2.5s cubic-bezier(0.2,1,0.8,0));

    span {
        @include animation(rightToLeft 2.5s cubic-bezier(0.2,1,0.8,0));
    }
}

span {
    display: inline-block;
    width: 100%;
    color: #fff;
} 