<link rel="import" href="../../../bower_components/polymer/polymer.html">

<polymer-element name="padlock-progress" attributes="text" style="display: none">
    <template>
        <link href="progress.css" rel="stylesheet" type="text/css">
        <span><content></content></span>
    </template>
    <script>
        Polymer("padlock-progress", {
            ready: function() {
                var platform = require("padlock/platform");
                this.addEventListener(platform.getAnimationEndEventName(), this.animationEnd.bind(this));
            },
            show: function() {
                this.hidePending = false;
                this.classList.add("animated");
                this.style.display = "";
                // Trigger style recalculation so that adding the 'animated' class has an immediate effect
                this.offsetLeft;
            },
            hide: function() {
                // We want the animation to finish first, so we'll just set this flag
                // and do the hiding after the next iteration
                this.hidePending = true;
            },
            animationEnd: function(event) {
                this.classList.remove("animated");

                // Hide the element if hide() was called during the last iteration,
                // otherwise restart the animation
                if (this.hidePending) {
                    this.style.display = "none";
                } else {
                    // Trigger style recalculation so that removing and readding the 'animated' class has an effect
                    this.offsetLeft;
                    this.classList.add("animated");
                }
            }
        });
    </script>
</polymer-element>