<link rel="import" href="../../padlock.html">
<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../dialog/dialog.html">
<link rel="import" href="../dynamic-form/dynamic-form.html">
<link rel="import" href="../header/header.html">
<link rel="import" href="../lock-view/lock-view.html">
<link rel="import" href="../start-view/start-view.html">
<link rel="import" href="../list-view/list-view.html">
<link rel="import" href="../record-view/record-view.html">
<link rel="import" href="../settings-view/settings-view.html">
<link rel="import" href="../cloud-view/cloud-view.html">
<link rel="import" href="../import-view/import-view.html">
<link rel="import" href="../export-view/export-view.html">
<link rel="import" href="../categories-view/categories-view.html">
<link rel="import" href="../generator-view/generator-view.html">
<link rel="import" href="../select/select.html">
<link rel="import" href="../input/input.html">
<link rel="import" href="../progress/progress.html">
<link rel="import" href="../notification/notification.html">
<link rel="import" href="../../styles/shared-styles.html">
<link rel="import" href="app-styles.html">

<dom-module id="padlock-app">

    <template>

        <style include="app-styles"></style>
        <style include="shared-styles"></style>

        <padlock-header id="header" view="{{ _currentView }}" filter-string="{{ _filterString }}" on-filter-enter="_selectMarkedRecord"></padlock-header>
        <padlock-start-view id="startView" class="view" on-newpwd="_newPwd" on-restore="_restored" collection="{{ collection }}" settings="{{ settings }}"></padlock-start-view>
        <padlock-lock-view id="lockView" class="view" on-pwdenter="_pwdEnter"></padlock-lock-view>
        <!-- LIST VIEW -->
        <padlock-list-view id="listView" class="view" records="{{ _records }}" filter-string="{{ _filterString }}"
            selected="{{ _selected }}" on-select="_recordSelected" on-add="_addRecord"
            on-menu="_openMainMenu" on-import="_openImportView" on-synchronize="_synchronize"></padlock-list-view>
        <!-- RECORD VIEW -->
        <padlock-record-view id="recordView" class="view" on-save="_saveRecord" on-back="_recordViewBack" record="{{ _selected }}" on-generate-value="_openGenerator"
            on-delete="_deleteRecord" on-categories="_openCategories" settings="{{ settings }}"></padlock-record-view>
        <!-- Settings VIEW -->
        <padlock-settings-view id="settingsView" class="view" on-back="_settingsBack" on-open-cloud-view="_openCloudView"
            on-import="_openImportView" on-export="_openExportView" on-reset="_openStartView" on-change-password="_changePwd"
            collection="{{ collection }}" settings="{{ settings }}"></padlock-settings-view>
        <!-- IMPORT VIEW -->
        <padlock-import-view id="importView" class="view" on-imported="_imported" collection="{{ collection }}"
            on-back="_openSettings"></padlock-import-view>
        <!-- EXPORT VIEW -->
        <padlock-export-view id="exportView" class="view" records="{{ _records }}" collection="{{ collection }}" on-back="_openSettings"></padlock-export-view>
        <padlock-cloud-view id="cloudView" class="view" settings="{{ settings }}" on-back="_openSettings" on-synchronize="_synchronize"></padlock-cloud-view>
        <!-- CATEGORIES VIEW -->
        <padlock-categories-view id="categoriesView" class="view" categories="{{ _categories }}" record="{{ _selected }}"
            on-back="_categoriesDone" on-categorychanged="_categoryChanged"></padlock-categories-view>
        <padlock-generator-view id="generatorView" class="view" on-back="_generatorBack"></padlock-generator-view>
        <!-- PROGRESS INDICATOR -->
        <padlock-progress id="decrypting">decrypting...</padlock-progress>
        <padlock-progress id="synchronizing">synchronizing...</padlock-progress>
        <padlock-progress id="connecting">connecting...</padlock-progress>

        <padlock-notification id="notification"></padlock-notification>

        <!-- MAIN MENU -->
        <padlock-dialog id="mainMenu" close-on-tap>
            <button on-tap="_openSettings">Settings</button>
            <button on-tap="_synchronize">Synchronize</button>
            <button on-tap="_openGenerator">Generate Password</button>
            <button on-tap="_lock">Lock App</button>
            <button on-tap="_displayShortcuts" hidden$="{{ _isTouch() }}">Shortcuts</button>
        </padlock-dialog>

        <padlock-dialog id="formDialog1" on-dismiss="_formDialogDismissed" on-open="_formDialogOpened" on-close="_formDialogClosed" on-form-close="_closeCurrentDialog">
            <div class="title"></div>
            <padlock-dynamic-form></padlock-dynamic-form>
        </padlock-dialog>

        <padlock-dialog id="formDialog2" on-dismiss="_formDialogDismissed" on-open="_formDialogOpened" on-close="_formDialogClosed" on-form-close="_closeCurrentDialog">
            <div class="title"></div>
            <padlock-dynamic-form></padlock-dynamic-form>
        </padlock-dialog>

        <array-selector id="selector" items="{{ _records }}" selected="{{ _selected }}"></array-selector>
    </template>

    <script src="app.js"></script>

</dom-module>
