@import "../../styles/config";
@import "nib";

:host {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    background: $color-quaternary;
    overflow: hidden;
    unselectable();
}

:host(.ios-standalone) {
    padlock-header::shadow > div {
        padding-top: 20px;
    }

    .view {
        padding-top: 70px;
    }
}

padlock-progress#decrypting {
    z-index: 10;
    background: $color-secondary;
}

padlock-header {
    position: absolute;
    z-index: 1;
    width: 100%;
}
