@import "../../styles/config";
@import "../../styles/mixins";
@import "nib";

:host {
    font-family: "Clear Sans", sans-serif;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    font-weight: $font-weight-regular;
    font-size: $font-size-default;
    color: $text-color;
    -webkit-tap-highlight-color: transparent;
    background: $color-grey;
    overflow: hidden;
    unselectable();

    &, & /deep/ button, & /deep/ input {     
        -webkit-font-smoothing: antialiased;
    }

    /*
        These are are elements that should be styled consistently accross the app,
        therefore the selectors should cross all shadow dom boundaries.
     */
    & /deep/ {
        a {
            text-decoration: none;
            color: inherit;
        }

        button, a.button {
            display: inline-block;
            font-family: inherit;
            font-size: inherit;
            font-weight: inherit;
            border: none;
            background: #fff;
            margin: 0;
            height: $row-height;
            line-height: $row-height;
            padding: 0 15px;
            cursor: pointer;
            color: $color-primary;
            text-align: center;
        }

        button.primary {
            background: $color-primary;
            color: $text-color-light;
        }

        button.negative {
            background: $color-negative;
            color: $text-color-light;
        }

        button.ghost {
            background: transparent;
            color: #fff;
            border-top: solid 2px #fff;
            border-bottom: solid 2px #fff;
            font-weight: 600;
            line-height: 46px;
        }

        input {
            border: none;
            font-family: inherit;
            font-size: inherit;
            font-weight: inherit;
            color: inherit;
            border-radius: 0;
            background: #fff;
            margin: 0;
            height: $row-height;

            appearance: none;
            box-sizing: border-box;
        }

        input.ghost {
            background: transparent;
            color: #fff;
            border-bottom: solid 1px #fff;
            width: 80%;
            height: 40px;

            &::-webkit-input-placeholder {
               color: #fff;
            }
        }

        strong {
            font-weight: $font-weight-bold;
            color: $color-primary;
        }

        ::-webkit-search-cancel-button {
            display: none;
        }

        *:focus {
            outline: none;
        }

        ::-webkit-input-placeholder {
           color: $placeholder-color;
        }
    }
}

:host(.ios-standalone) {
    padlock-header::shadow > div {
        padding-top: 20px;
    }

    .view {
        padding-top: 70px;
    }
}

padlock-progress#decrypting {
    background: $color-red;
    z-index: 10;
}

padlock-progress#synchronizing {
    background: $color-green;
}