@import "../../styles/config";
@import "../../styles/mixins";
@import "nib";

:host {
    font-family: "Clear Sans", sans-serif;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    -webkit-tap-highlight-color: transparent;
    background: $color-grey;
    overflow: hidden;
    unselectable();
}

:host(.ios-standalone) {
    padlock-header::shadow > div {
        padding-top: 20px;
    }

    .view {
        padding-top: 70px;
    }
}

padlock-progress#decrypting {
    background: $color-red;
    z-index: 10;
}

padlock-progress#synchronizing {
    background: $color-green;
}

padlock-header {
    position: absolute;
    z-index: 10;
    width: 100%;
}
