<link rel="import" href="../../padlock.html">
<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../dialog/dialog.html">
<link rel="import" href="../header/header.html">
<link rel="import" href="../lock-view/lock-view.html">
<link rel="import" href="../start-view/start-view.html">
<link rel="import" href="../list-view/list-view.html">
<link rel="import" href="../record-view/record-view.html">
<link rel="import" href="../settings-view/settings-view.html">
<link rel="import" href="../import-view/import-view.html">
<link rel="import" href="../export-view/export-view.html">
<link rel="import" href="../categories-view/categories-view.html">
<link rel="import" href="../generator-view/generator-view.html">
<link rel="import" href="../select/select.html">
<link rel="import" href="../input/input.html">
<link rel="import" href="../progress/progress.html">
<link rel="import" href="../notification/notification.html">

<dom-module id="padlock-app">

    <link href="app.css" rel="import" type="css">

    <template>
        <padlock-header id="header" view="{{ _currentView }}" filter-string="{{ _filterString }}"></padlock-header>
        <!-- <padlock&#45;shutter id="shutter" on&#45;newpwd="_newPwd" on&#45;pwdenter="_pwdEnter" -->
        <!--     current&#45;view="{{ _currentView }}" filter&#45;string="{{ _filterString }}"></padlock&#45;shutter> -->
        <padlock-start-view id="startView" class="view" on-newpwd="_newPwd"></padlock-start-view>
        <padlock-lock-view id="lockView" class="view" on-pwdenter="_pwdEnter"></padlock-lock-view>
        <!-- LIST VIEW -->
        <padlock-list-view id="listView" class="view" records="{{ _records }}" filter-string="{{ _filterString }}"
            categories="{{ categories }}" selected="{{ _selected }}" on-select="_recordSelected" on-add="_addRecord"
            on-menu="_openMainMenu" on-import="_openImportView" on-synchronize="_synchronize"></padlock-list-view>
        <!-- RECORD VIEW -->
        <padlock-record-view id="recordView" class="view" on-save="_saveRecord" on-back="_recordViewBack" record="{{ _selected }}" on-generate-value="_openGenerator"
            on-delete="_deleteRecord" on-categories="_openCategories" categories="{{ categories }}" settings="{{ settings }}"></padlock-record-view>
        <!-- Settings VIEW -->
        <padlock-settings-view id="settingsView" class="view" on-back="_settingsBack"
            on-import="_openImportView" on-export="_openExportView" on-reset="_reset"
            collection="{{ collection }}" settings="{{ settings }}"></padlock-settings-view>
        <!-- IMPORT VIEW -->
        <padlock-import-view id="importView" class="view" on-import="_saveImportedRecords"
            on-back="_importBack"></padlock-import-view>
        <!-- EXPORT VIEW -->
        <padlock-export-view id="exportView" class="view" records="{{ _records }}" on-back="_exportBack"></padlock-export-view>
        <!-- CATEGORIES VIEW -->
        <padlock-categories-view id="categoriesView" class="view" categories="{{ categories }}" record="{{ _selected }}"
            on-back="_categoriesDone" on-categorychanged="_categoryChanged"></padlock-categories-view>
        <padlock-generator-view id="generatorView" class="view" on-back="_generatorBack" on-confirm="_generateConfirm"></padlock-generator-view>
        <!-- PROGRESS INDICATOR -->
        <padlock-progress id="decrypting">decrypting...</padlock-progress>
        <padlock-progress id="synchronizing">synchronizing...</padlock-progress>
        <!-- MAIN MENU -->
        <padlock-dialog id="mainMenu">
            <button on-tap="_synchronize">Synchronize</button>
            <button on-tap="_openSettings">Settings</button>
            <button on-tap="_openGenerator">Generate Password</button>
            <button on-tap="_lock">Lock App</button>
        </padlock-dialog>
        <!-- ADD RECORD -->
        <padlock-dialog id="addDialog">
            <div class="title">Add Record</div>
            <input is="padlock-input" id="addInput" placeholder="Enter Record Name"/>
            <button class="primary" on-tap="_confirmAddRecord">Add</button>
        </padlock-dialog>
        <!-- ALERT -->
        <padlock-dialog id="alertDialog">
            <div class="title" id="alertText"></div>
            <button on-tap="_dismissAlert">OK</button>
        </padlock-dialog>
        <!-- NOT CONNECTED DIALOG -->
        <padlock-dialog id="notConnectedDialog">
            <div class="title">You need to be connected to Padlock Cloud to synchronize your data.</div>
            <button on-tap="_openSettings" class="primary">Settings</button>
            <button on-tap="_dismissNotConnectedDialog">Cancel</button>
        </padlock-dialog>
        <!-- REMOTE PASSWORD DIALOG -->
        <padlock-dialog id="remotePasswordDialog">
            <div class="title">It seems your local master password does not match the one used to encrypt the data on Padlock Cloud. Please enter your remote password!</div>
            <input id="remotePasswordInput" type="password" placeholder="Enter Remote Password"></input>
            <button class="primary" on-tap="_remotePasswordEntered">OK</button>
        </padlock-dialog>
        <!-- UPDATE REMOTE PASSWORD DIALOG -->
        <padlock-dialog id="updateRemotePasswordDialog">
            <div class="title">Synchronization successful! Do you want to change the remote password to your local one?</div>
            <button class="primary" on-tap="_confirmUpdateRemotePassword">Yes</button>
            <button on-tap="_cancelUpdateRemotePassword">No</button>
        </padlock-dialog>

        <padlock-notification id="notification"></padlock-notification>

        <array-selector id="selector" items="{{ _records }}" selected="{{ _selected }}"></array-selector>
    </template>

    <script src="app.js"></script>

</dom-module>
