<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../header/header.html">
<link rel="import" href="../dialog/dialog.html">
<link rel="import" href="../list-view/list-view.html">
<link rel="import" href="../record-view/record-view.html">
<link rel="import" href="../start-view/start-view.html">
<link rel="import" href="../lock-view/lock-view.html">
<link rel="import" href="../settings-view/settings-view.html">
<link rel="import" href="../import-view/import-view.html">
<link rel="import" href="../fast-input.html">

<polymer-element name="padlock-app" touch-action="none" on-mousedown="{{ mousedown }}" on-showheader="{{ showHeader }}"
    on-hideheader="{{ hideHeader }}" on-open="{{ dialogOpen }}" on-close="{{ dialogClose }}">
    <template>
        <!-- STYLES -->
        <link href="app.css" rel="stylesheet" type="text/css">
        <!-- HEADER -->
        <padlock-header id="header" view="{{ currentView }}" filterString="{{ filterString }}"></padlock-header>
        <!-- PASSWORD VIEW -->
        <padlock-start-view id="passwordView" class="view" on-enter="{{ newPwdEnter }}"></padlock-start-view>
        <!-- LOCK VIEW -->
        <padlock-lock-view id="lockView" class="view" on-enter="{{ pwdEnter }}"></padlock-lock-view>
        <!-- LIST VIEW -->
        <padlock-list-view id="listView" class="view" collection="{{ collection }}" filterString="{{ filterString }}"
            selected="{{ selected }}" on-add="{{ addRecord }}" on-menu="{{ openMainMenu }}" on-import="{{ openImportView }}"></padlock-list-view>
        <!-- RECORD VIEW -->
        <padlock-record-view id="recordView" class="view" on-save="{{ saveRecord }}" on-back="{{ recordViewBack }}"
            on-delete="{{ deleteRecord }}"></padlock-record-view>
        <!-- Settings VIEW -->
        <padlock-settings-view id="settingsView" class="view" on-back="{{ settingsBack }}"
            collection="{{ collection }}"></padlock-settings-view>
        <!-- IMPORT VIEW -->
        <padlock-import-view id="importView" class="view" on-import="{{ saveImportedRecords }}"
            on-back="{{ importBack }}"></padlock-import-view>
        <!-- MAIN MENU -->
        <padlock-dialog id="mainMenu">
            <button on-tap="{{ openSettings }}">Settings</button>
            <button on-tap="{{ openImportView }}">Import Records</button>
            <button on-tap="{{ lock }}">Lock App</button>
        </padlock-dialog>
        <!-- ADD RECORD -->
        <padlock-dialog id="addDialog">
            <div class="title">Add Record</div>
            <input is="fast-input" id="addInput" placeholder="Enter Record Name"/>
            <button class="primary" on-tap="{{ confirmAddRecord }}">Add</button>
        </padlock-dialog>
        <!-- ALERT -->
        <padlock-dialog id="alertDialog">
            <div class="title" id="alertText"></div>
            <button on-tap="{{ dismissAlert }}">OK</button>
        </padlock-dialog>
    </template>
    <script src="app.js"></script>
</polymer-element>