<link rel="import" href="../../../bower_components/polymer/polymer.html">

<dom-module id="padlock-option">

    <template>
        <div on-tap="_tap">{{ _label(label, value) }}</div>
    </template>

    <script>
        /* global Polymer */

        (function(Polymer) {
            "use strict";

            Polymer({
                is: "padlock-option",
                properties: {
                    default: Boolean,
                    value: {
                        type: String,
                        value: ""
                    },
                    label: {
                        type: String,
                        value: ""
                    },
                    selectedClass: String
                },
                _label: function(label, value) {
                    return label || value;
                },
                _tap: function(e) {
                    this.fire("tap");
                    e.stopPropagation();
                }
            });

        })(Polymer);
    </script>

</dom-module>
