<link rel="import" href="../../padlock.html">
<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/shape-shifter/shape-shifter.html">
<link rel="import" href="option.html">

<dom-module id="padlock-select">

    <link href="select.css" rel="import" type="css">

    <template>

        <button on-tap="toggleOpen" class$="{{ _selectedClass(selected) }}">
            <span>{{ _label(selected, label) }}</span>
            <shape-shifter shape="{{ _shape(open) }}" springy></shape-shifter>
        </button>

        <div class="options" on-tap="_optionTap">
            <content></content>
        </div>

    </template>

    <script src="select.js"></script>

</dom-module>
