<link rel="import" href="../../padlock.html">
<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../view/view.html">
<link rel="import" href="../input/input.html">
<link rel="import" href="../lock/lock.html">
<link rel="import" href="../../styles/shared-styles.html">
<link rel="import" href="../view/view-styles.html">
<link rel="import" href="lock-view-styles.html">

<dom-module id="padlock-lock-view">

    <template>

        <style include="shared-styles"></style>
        <style include="view-styles"></style>
        <style include="lock-view-styles"></style>

        <!-- WRAPPER (for centering) -->
        <div class="wrapper">
            <!-- HEADER -->
            <div class="header">
                Padlock
            </div>
            <!-- PASSWORD INPUT -->
            <div class="tap-highlight">
                <input is="padlock-input" class="ghost password-input" type="password" placeholder="Enter Password"
                    on-enter="enter" id="pwdInput" select-all-on-focus />
            </div>
            <!-- ENTER BUTTON -->
            <button class="enter-button ghost" on-tap="enter" type="button">Unlock</button>
        </div>

        <padlock-lock></padlock-lock>

        <button class="reset-button ghost" on-tap="_openOptions" type="button">...</button>

    </template>

    <script src="lock-view.js"></script>

</dom-module>
