@import "../../styles/config";
@import "../../styles/mixins";

input, button {
    text-align: center;
    display: block;
    width: 100%;
    margin-bottom: 5px;
}

input.ghost {
    color: $text-color-light;
    cursor: text;
}

button.ghost {
    border-top: solid 1px;
    border-bottom: solid 1px;
}
