@import "../../config.scss";
@import "compass/css3/box";
@import "compass/css3/appearance";

:host {
}

.flex-wrapper {
    width: 100%;
    height: 100%;
    
    @include display-box;
    @include box-orient(vertical); 
}

textarea {
    font-family: monospace;
    font-weight: inherit;
    border: none;
    background: #fff;
    margin: 0;
    display: block;
    padding: 15px;
    font-size: 12px;
    margin: 10px;
    color: $placeholder-color;

    @include appearance(none);
    @include box-flex(1);
}

.import-button {
    display: block;
    margin: 0 10px 10px 10px;
}