<link rel="import" href="../../padlock.html">
<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../view/view.html">
<link rel="import" href="../input/input.html">
<link rel="import" href="../select/select.html">
<link rel="import" href="../progress/progress.html">

<dom-module id="padlock-import-view">

    <link href="import-view.css" rel="import" type="css">

    <template>
        <div class="flex-wrapper">
            <textarea id="rawInput" is="padlock-textarea" select-all-on-focus show-accessory-bar></textarea>
            <button class="import-button primary" on-tap="_startImport">import</button>
        </div>

        <padlock-progress>importing...</padlock-progress>

    </template>

    <script src="import-view.js"></script>

</dom-module>
