@import "../../styles/config";
@import "../view/view";
@import "nib";

.flex-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

padlock-select {
    margin: 10px 10px 0 10px;
}

padlock-option {
    &::after {
        content: "";
        display: block;
        width: 100%;
        position: absolute;
        top: 100%;
        height: 5px;
        background: $color-quaternary;
    }
}

textarea {
    margin: 10px;
    flex: 1;
}

.import-button {
    display: block;
    margin: 0 10px 10px 10px;
}
