<link rel="import" href="../../padlock.html">
<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../view/view.html">
<link rel="import" href="../input/input.html">
<link rel="import" href="../lock/lock.html">

<dom-module id="padlock-lock-view">

    <link href="../view/view.css" rel="import" type="css">
    <link href="lock-view.css" rel="import" type="css">

    <template>

        <padlock-lock></padlock-lock>

        <!-- WRAPPER (for centering) -->
        <div class="wrapper">
            <!-- HEADER -->
            <div class="header">
                Padlock
            </div>
            <!-- PASSWORD INPUT -->
            <div class="tap-highlight">
                <input is="padlock-input" class="ghost password-input" type="password" placeholder="Enter Password"
                    on-enter="enter" id="pwdInput" select-all-on-focus />
            </div>
            <!-- ENTER BUTTON -->
            <button class="enter-button ghost" on-tap="enter">OK</button>
        </div>

    </template>

    <script src="lock-view.js"></script>

</dom-module>
