@import "../../styles/config";
@import "nib";

@keyframes reveal {
    from { transform: translate3d(0, 100%, 0); opacity: 0; }
    50% { transform: translate3d(0, -10%, 0); opacity: 1; }
    to { transform: translate3d(0, 0, 0); opacity: 1; }
}

:host {
    display: flex;
    flex-direction: column;
    background: $color-primary;
    color: #fff;
    top: 0;
}

.wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-top: 100px;
}

.header {
    font-size: 50px;
    font-weight: $font-weight-thin;
    margin-bottom: 30px;

    animation: reveal 0.5s ease 0.2s both;
}

.password-input {
    text-align: center;
    width: 100%;
    animation: reveal 0.5s ease 0.4s both;
}

.enter-button {
    width: 100%;
    margin-top: 20px;
    font-size: 120%;
    animation: reveal 0.5s ease 0.6s both;
}
//
// .header, .enter-button {
//     text-shadow: rgba(0,0,0,0.2) 1px 1px;
// }

padlock-lock {
    align-self: center;
    animation: reveal 0.5s ease 0.8s both;
}

@media (max-height: 500px) {
    padlock-lock {
        height: 0;
    }

    .wrapper {
        margin-top: 0;
    }
}
