<link rel="import" href="../../padlock.html">
<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../view/view.html">
<link rel="import" href="../input/input.html">

<polymer-element name="padlock-lock-view" attributes="{{ errorMessage }}">
    <template>
        <!-- STYLES -->
        <link href="lock-view.css" rel="stylesheet" type="text/css">
        <!-- WRAPPER (for centering) -->
        <div class="wrapper {{ errorMessage ? 'error' : '' }}">
            <!-- HEADER -->
            <div class="header">
                Padlock
            </div>
            <!-- PASSWORD INPUT -->
            <input is="padlock-input" class="ghost password-input" type="password" placeholder="Enter Password" on-keydown="{{ keydown }}" id="pwdInput"/>
            <!-- ENTER BUTTON -->
            <button class="enter-button ghost" on-tap="{{ enter }}">OK</button>
            <!-- ERROR MESSAGE -->
            <div class="error-message">{{ errorMessage }}</div>
        </div>
    </template>
    <script src="lock-view.js"></script>
</polymer>