@import "../../styles/config";
@import "nib";

@keyframes reveal {
    from { transform: translate3d(0, 100%, 0); opacity: 0; }
    50% { transform: translate3d(0, -10%, 0); opacity: 1; }
    to { transform: translate3d(0, 0, 0); opacity: 1; }
}

@keyframes expand {
    to { transform: scale(10); fill: $color-grey; stroke: $color-grey; }
}

@keyframes contract {
    from { transform: scale(10); fill: $color-grey; stroke: $color-grey; }
}

:host {
    display: block;
    background: $color-primary;
}

.wrapper {
    height: 350px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    text-align: center;
}

.header {
    font-size: 50px;
    font-weight: $font-weight-thin;
    margin-bottom: 30px;
    color: #fff;

    animation: reveal 0.5s ease 0.25s both;
}

.password-input {
    text-align: center;
    width: 100%;
    animation: reveal 0.5s ease 0.5s both;
}

.enter-button {
    width: 100%;
    margin-top: 20px;
    animation: reveal 0.5s ease 0.75s both;
}

padlock-lock {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -50px;
    margin: 0 auto;
    animation: reveal 0.5s ease 1s both;
}
