<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../view/view.html">
<link rel="import" href="../dialog/dialog.html">
<link rel="import" href="../padlock-input.html">

<polymer-element name="padlock-settings-view" extends="padlock-view" attributes="collection">
    <template>
        <!-- STYLES -->
        <link href="settings-view.css" rel="stylesheet" type="text/css">
        <button class="settings-button" on-tap="{{ changePassword }}">Change Password</button>
        <!-- CHANGE PASSWORD DIALOG -->
        <padlock-dialog id="changePasswordDialog">
            <input is="padlock-input" type="password" placeholder="Enter Current Password" id="currPwdInput"/>
            <input is="padlock-input" type="password" placeholder="Enter New Password" id="newPwdInput"/>
            <input is="padlock-input" type="password" placeholder="Confirm Password" id="confirmNewPwdInput"/>
            <button class="enter-button primary" on-tap="{{ confirmChangePassword }}">OK</button>
        </padlock-dialog>
        <!-- CHANGE PASSWORD ERROR DIALOG -->
        <padlock-dialog id="changePasswordErrorDialog">
            <div class="title" id="changePasswordErrorMsg"></div>
            <button class="primary" on-tap="{{ changePassword }}">retry</button>
            <button on-tap="{{ closeChangePasswordErrorDialog }}">cancel</button>
        </padlock-dialog>
        <!-- CHANGE PASSWORD SUCCESS DIALOG -->
        <padlock-dialog id="changePasswordSuccessDialog">
            <div class="title">Password changed successfully!</div>
            <button on-tap="{{ closeChangePasswordSuccessDialog }}">OK</button>
        </padlock-dialog>
    </template>
    <script src="settings-view.js"></script>
</polymer>