@import "../../styles/config.scss";
@import "../../styles/mixins.scss";
@import "../view/view.scss";
@import "compass/css3";

:host {
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

button.settings-button, .button.settings-button {
    display: block;
    width: 100%;
    @include box-sizing(border-box);

    div {
        width: 100%;
        @include ellipsis;

        .email {
            font-size: 14px;
            line-height: inherit;
        }
    }
}

.settings-row {
    height: $row-height;
    background: #fff;
    line-height: $row-height;
    padding: 0 15px;
    cursor: pointer;

    padlock-toggle {
        float: right;
        margin-top: 10px;
    }
}

button.settings-button, .button.settings-button, .settings-button, .settings-row {
    margin-bottom: 5px;
}

.section {
    margin: 30px 0;
}

.info {
    display: block;
    padding: 15px;
    width: 200px;
    margin: 0 auto;
    font-size: 15px;
    text-align: center;
}