@import "../../styles/config";
@import "nib";

:host {
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

button, .button, padlock-toggle-button, padlock-slider {
    margin-bottom: 5px;
}

button, .button {
    display: block;
    width: 100%;
    box-sizing: border-box;

    shape-shifter {
        position: absolute;
        right: 5px;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 25px;
        height: 25px;
    }
}

.info {
    padding: 15px;
    width: 200px;
    margin: 0 auto;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
}
