@import "compass/css3";
@import "../../config.scss";
@import "../../mixins.scss";

:host > div {
    overflow: hidden;
    height: $row-height;
    color: $text-color-light;
    background: transparentize($color-primary, 0.1);
    position: relative;

    @include display-box;
    @include transform(translate3d(0, 0, 0));
    @include transition(transform 0.5s, background 1s);
    @include transform(translate3d(0, -100%, 0));

    padlock-shapeshifter {
        display: block;
        width: $row-height;
        height: $row-height;
        padding: 10px;

        @include box-sizing(border-box);

        line {
            stroke: $text-color-light;
        }
    }

    &.showing {
        @include transform(translate3d(0, 0, 0));
    }

    &.show-filter {
        .filter-input {
            opacity: 1;
            @include transform(translate(0, 0));
        }

        .title {
            opacity: 0;
            @include transform(translate(0, 100%));
        }
    }

    &.filtering.show-filter #leftIcon {
        width: 0;
        padding-left: 0;
    }

    &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.3);
        pointer-events: none;
        opacity: 0;
        @include transition(opacity 0.5s);
    }

    &.scrim:after {
        opacity: 1;
        pointer-events: auto;
    }
}

.middle {
    position: relative;
    overflow: hidden;
    @include box-flex(1);
}

.middle > * {
    $line-height: 20px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: $line-height;
    padding: ($row-height - $line-height)/2 0;

    @include transition(transform 0.5s, opacity 0.5s);
}

.filter-input {
    background: transparent;
    color: $text-color-light;
    opacity: 0;

    @include transform(translate(0, -100%));

    &::-webkit-input-placeholder {
       color: $placeholder-color-light;
    }
}

.title {
    opacity: 1;
    @include transform(translate(0, 0));
    @include ellipsis();
}