@import "../../styles/config.styl";
@import "../../styles/mixins.styl";
@import "nib";

@keyframes titleIn {
    from { transform: translate3d(150px, 0, 0); opacity: 0; }
    50% { transform: translate3d(-5px, 0, 0); opacity: 1; }
    to { transform: translate3d(0, 0, 0); opacity: 1; }
}

@keyframes filterIn {
    from { transform: translate3d(-150px, 0, 0); opacity: 0; }
    50% { transform: translate3d(5px, 0, 0); opacity: 1; }
    to { transform: translate3d(0, 0, 0); opacity: 1; }
}

@keyframes titleOut  {
    from { transform: translate3d(0, 0, 0); opacity: 1; }
    50% { transform: translate3d(150px, 0, 0); opacity: 0; }
    to { transform: translate3d(150px, 0, 0); opacity: 0; }
}

@keyframes filterOut {
    from { transform: translate3d(0, 0, 0); opacity: 1; }
    50% { transform: translate3d(-150px, 0, 0); opacity: 0; }
    to { transform: translate3d(-150px, 0, 0); opacity: 0; }
}

:host {
    line-height: 0;
    pointer-events: none;
    transition: transform 0.5s $toaster-easing;

    &::before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background: inherit;
        position: absolute;
        top: -100%;
        left: 0;
        background: $color-primary;
    }
}

:host > div {
    overflow: hidden;
    height: $row-height;
    color: $text-color-light;
    background: $color-primary;
    position: relative;
    width: 100%;
    pointer-events: auto;

    display: flex;

    shape-shifter {
        display: block;
        $padding = 10px;
        padding: $padding;
        width: $row-height - $padding * 2;
        height: $row-height - $padding * 2;
        cursor: pointer;
        position: relative;
        z-index: 1;
        --shape-shifter-secondary-color: $color-primary;
        tap-highlight();
    }
}

:host(.show-filter) {
    .filter-input {
        animation: filterIn 0.5s ease 0s both;
    }

    .title {
        animation: titleOut 0.5s ease 0s both;
    }
}

:host(.show-filter[filter-active]) #leftIcon {
    width: 0;
    padding-left: 0;
}

:host(:not([showing])) {
    transform: translate3d(0, -100%, 0);
}

.middle {
    position: relative;
    flex: 1;
}

.middle > * {
    $line-height = 22px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    // height: 100%;
    line-height: $line-height;
    padding: (($row-height - $line-height) / 2) 0;

    box-sizing: border-box;
}

.filter-input {
    background: transparent;
    color: $text-color-light;

    animation: filterOut 0.5s ease 0s both;

    &::-webkit-input-placeholder {
        color: $placeholder-color-light;
    }

    &:not(:focus)::-webkit-input-placeholder {
        text-align: center;
    }
}

.title {
    animation: titleIn 0.5s ease 0s both;
    overflow: ellipsis;
    text-align: center;
}
