<polymer-element name="safe-app">
    <template>
        <style>
            :host {
                font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                top: 0;
                margin: auto;
                font-weight: 300;
                font-size: 18px;
                color: #333;
                -webkit-user-select: none;     
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                -webkit-tap-highlight-color: transparent;

            }

            .view {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                margin: auto;
                overflow: scroll;
                -webkit-overflow-scrolling: touch;
            }

            .list-view safe-record-item:nth-child(3) {
                margin-top: 50px;
            }

            .list-header {
                position: fixed;
                width: 100%;
                padding: 8px;
                background: rgb(245, 245, 245);
                display: -webkit-box;
                -webkit-box-align: center;
                box-sizing: border-box;
                border-bottom: solid 1px rgba(0, 0, 0, 0.1);
            }

            .list-header > input {
                border: none;
                font-family: inherit;
                font-size: inherit;
                font-weight: inherit;
                -webkit-appearance: none;
                padding: 6px;
                display: block;
                -webkit-box-flex: 1;
                background: white;
                border-radius: 2px;
                margin: 0;
            }

            .list-header > button {
                display: block;
                border: none;
                background: transparent;
                font-size: 30px;
                font-family: inherit;
                font-weight: 100;
                line-height: 15px;
                color: #000;
                margin-left: 8px;
            }

            ::-webkit-search-cancel-button {
                display: none;
            }

            *:focus {
                outline: none;
            }
        </style>
        <div class="view list-view" id="list" on-scroll="{{ scroll }}" on-touchmove="{{ drag }}">
            <div id="listHeader" class="list-header">
                <input value="{{ filterString }}" type="search" placeholder="type to filter..." />
                <button on-click="{{ addRecord }}">+</button>
            </div>
            <template repeat="{{ record, i in filteredRecords}}">
                <safe-record-item record="{{ record }}" on-click="{{ recordClicked }}" on-delete="{{ deleteClicked }}" index="{{ i }}"></safe-record-item>
            </template>
        </div>
        <safe-record-view id="recordView" on-back="{{ back }}" style="display: none;"></safe-record-view>
    </template>
    <script>
        Polymer("safe-app", {
            observe: {
                filterString: "applyFilter",
                "collection.records": "applyFilter"
            },
            ready: function() {
                var self = this;
                require(["safe/model"], function(model) {
                    self.collection = new model.Collection();
                    self.collection.fetch();
                });
            },
            recordClicked: function(event, detail, sender) {
                this.openRecord(sender.templateInstance.model.record);
            },
            deleteClicked: function(event, detail, sender) {
                this.deleteRecord(sender.templateInstance.model.record);
            },
            openRecord: function(record) {
                this.$.recordView.record = record;
                this.$.list.style.display = "none";
                this.$.recordView.style.display = "block";
            },
            deleteRecord: function(record) {
                this.collection.remove(record);
                this.collection.save();
            },
            back: function(event, detail, sender) {
                this.$.recordView.style.display = "none";
                this.$.list.style.display = "block";
                var record = this.$.recordView.record;
                if (record.name || record.fields.length) {
                    record.name = record.name || "Unnamed";
                    this.collection.save();
                } else {
                    this.collection.remove(record);
                }
            },
            applyFilter: function() {
                var fs = this.filterString;
                this.filteredRecords = fs ? this.collection.records.filter(function(rec) {
                    return rec.name.toLowerCase().search(fs.toLowerCase()) != -1;
                }) : this.collection.records;
            },
            addRecord: function() {
                var record = {
                    name: "",
                    fields: []
                };
                this.collection.add(record);
                this.openRecord(record);
                this.$.recordView.focusTitle();
            }
        });
    </script>
</polymer-element>