<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="header.html">
<link rel="import" href="dialog.html">
<link rel="import" href="list-view.html">
<link rel="import" href="record-view.html">
<link rel="import" href="password-view.html">
<link rel="import" href="lock-view.html">

<polymer-element name="safe-app" touch-action="pan-y">
    <template>
        <link href="app.css" rel="stylesheet" type="text/css">
        <safe-header id="header" filterString="{{ filterString }}" record="{{ selected }}" on-back="{{ back }}" on-add="{{ addRecord }}" on-menu="{{ openMainMenu }}" on-record-menu="{{ openRecordMenu }}" class="hidden"></safe-header>
        <safe-password-view id="passwordView" class="view" on-enter="{{ newPwdEnter }}" style="display: none"></safe-password-view>
        <safe-lock-view id="lockView" class="view" on-enter="{{ pwdEnter }}" style="display: none"></safe-lock-view>
        <safe-list-view id="listView" class="view" collection="{{ collection }}" filterString="{{ filterString }}" selected="{{ selected }}" style="display: none"></safe-list-view>
        <safe-record-view id="recordView" class="view" style="display: none" on-save="{{ saveRecord }}"></safe-record-view>
        <safe-dialog id="mainMenu">
            <div>Settings</div>
            <div>About</div>
            <div>Help</div>
            <div on-tap="{{ lock }}">Lock App</div>
            <div on-tap="{{ changePassword }}">Change Password</div>
        </safe-dialog>
        <safe-dialog id="recordMenu">
            <div on-tap="{{ editName }}">Edit Name</div>
            <div class="negative" on-tap="{{ deleteRecord }}" id="confirmButton">Delete</div>
        </safe-dialog>
        <safe-dialog id="confirmDialog">
            <div class="title">Are you sure you want to delete this record?</div>
            <div on-tap="{{ cancelDelete }}">Cancel</div>
            <div class="negative" on-tap="{{ confirmDelete }}">Delete</div>
        </safe-dialog>
        <safe-dialog id="addDialog">
            <input id="addInput" placeholder="Enter Record Name"/>
            <div on-tap="{{ confirmAddRecord }}">Add</div>
        </safe-dialog>
        <safe-dialog id="editNameDialog">
            <input id="editNameInput" placeholder="Enter Record Name"/>
            <div on-tap="{{ confirmEditName }}">Save</div>
        </safe-dialog>
    </template>
    <script>
        Polymer("safe-app", {
            ready: function() {
                var self = this;
                require(["safe/model"], function(model) {
                    self.collection = new model.Collection();
                    self.openView(self.collection.exists() ? self.$.lockView : self.$.passwordView);
                });
            },
            pwdEnter: function(event, detail, sender) {
                this.unlock(detail.password);
            },
            newPwdEnter: function(event, detail, sender) {
                this.collection.setPassword(detail.password);
                this.openView(this.$.listView);
            },
            unlock: function(password) {
                if (this.collection.fetch(password)) {
                    this.$.lockView.errorMessage = null;
                    this.openView(this.$.listView);
                } else {
                    this.$.lockView.errorMessage = "Wrong password!";
                }
            },
            lock: function() {
                this.$.mainMenu.close();
                var coll = this.collection;
                this.openView(this.$.lockView, function() {
                    coll.lock();
                });
            },
            selectedChanged: function(oldRec, newRec) {
                if (newRec) {
                    this.openView(this.$.recordView);
                }
            },
            deleteRecord: function() {
                this.$.recordMenu.close();
                this.$.confirmDialog.open();
            },
            confirmDelete: function() {
                this.$.confirmDialog.close();
                this.collection.remove(this.selected);
                this.collection.save();
                this.recordViewBack();
            },
            cancelDelete: function() {
                this.$.confirmDialog.close();
            },
            openView: function(view, outCallback, inCallback) {
                var views = this.shadowRoot.querySelectorAll(".view").array();
                var back = views.indexOf(view) < views.indexOf(this.currentView);
                if (this.currentView) {
                    this.currentView.hide(back ? "slideOutToRight": "slideOutToLeft", outCallback);
                }
                this.classList.remove(this.currentView && this.currentView.color);
                this.classList.add(view.color);
                setTimeout(function() {
                    view.show(back ? "slideInFromLeft": "slideInFromRight", inCallback);
                }, 300);

                if (view == this.$.lockView || view == this.$.passwordView) {
                    this.$.header.classList.add("hidden");
                } else {
                    this.$.header.classList.remove("hidden");
                }

                this.currentView = view;
            },
            saveRecord: function() {
                var record = this.selected;
                if (record) {
                    record.name = record.name || "Unnamed";
                    record.fields = record.fields.filter(function(field) {
                        return field.name || field.value;
                    });
                    this.collection.save();
                }
            },
            addRecord: function() {
                this.$.addInput.value = "";
                this.$.addDialog.open();
                // this.$.addInput.focus();
            },
            confirmAddRecord: function() {
                this.$.addInput.blur();
                this.$.addDialog.close();
                var record = {
                    name: this.$.addInput.value,
                    fields: []
                };

                this.collection.add(record);

                var self = this;
                setTimeout(function() {
                    self.selected = record;
                    self.saveRecord();
                }, 50);
            },
            back: function() {
                this.recordViewBack();
            },
            recordViewBack: function() {
                this.selected = null;
                this.openView(this.$.listView);
            },
            openMainMenu: function() {
                this.$.mainMenu.open();
            },
            openRecordMenu: function() {
                this.$.recordMenu.open();
            },
            editName: function() {
                this.$.recordMenu.close();
                this.$.editNameInput.value = this.selected.name;
                this.$.editNameDialog.open();
                this.$.editNameInput.select();
            },
            confirmEditName: function() {
                this.$.editNameDialog.close();
                this.selected.name = this.$.editNameInput.value;
                this.saveRecord();
            },
            changePassword: function() {
                this.$.mainMenu.close();
                this.$.passwordView.currentPassword = this.collection.store.password;
                this.openView(this.$.passwordView);
            }
        });
    </script>
</polymer-element>