@import "../config.scss";
@import "compass/css3/transition";
@import "compass/css3/user-interface";

:host {
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    font-weight: $font-weight-default;
    font-size: $font-size-default;
    color: $text-color;
    -webkit-tap-highlight-color: transparent;
    background: $bg-color-grey;
    
    @include user-select(none);
    @include transition(background 1s);

    > safe-header {
        background: transparentize($bg-color-grey, 0.1);
    }

    &.blue {
        $color: $bg-color-blue;
        background: $color;
        > safe-header {
            background: transparentize($color, 0.1);
        }
    }

    &.green {
        $color: $bg-color-green;
        background: $color;
        > safe-header {
            background: transparentize($color, 0.1);
        }
    }

    &.yellow {
        $color: $bg-color-yellow;
        background: $color;
        > safe-header {
            background: transparentize($color, 0.1);
        }
    }

    &.red {
        $color: $bg-color-red;
        background: $color;
        > safe-header {
            background: transparentize($color, 0.1);
        }
    }
}

safe-header {
    position: absolute;
    z-index: 1;
    width: 100%;
}

::-webkit-search-cancel-button {
    display: none;
}

*:focus {
    outline: none;
}

safe-lock-view {
    z-index: 1000;
}

.view {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: $row-height 0 10px 0;
}

::-webkit-input-placeholder {
   color: rgba(0, 0, 0, 0.3);
}