@import "../config.scss";
@import "compass/css3";
@import "compass/css3/user-interface";

:host {
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    font-weight: $font-weight-default;
    font-size: $font-size-default;
    color: $text-color;
    -webkit-tap-highlight-color: transparent;
    background: $color-grey;
    overflow: hidden;
    
    @include user-select(none);
    @include transition(background 1s);
}

padlock-header {
    position: absolute;
    z-index: 10;
    width: 100%;
}

::-webkit-search-cancel-button {
    display: none;
}

*:focus {
    outline: none;
}

.view {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding-top: $row-height;
}

::-webkit-input-placeholder {
   color: $placeholder-color;
}

.fill {
    width: 100%;
    height: 100%;
}

.scroller {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

button {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    border: none;
    background: #fff;
    margin: 0;
    height: $row-height;
    line-height: $row-height;
    padding: 0 15px;
    cursor: pointer;
}

button.primary {
    background: $color-primary;
    color: $text-color-light;
}

button.negative {
    background: $color-negative;
    color: $text-color-light;
}

input {
    $line-height: 20px;
    border: none;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    border-radius: 0;
    background: #fff;
    margin: 0;
    height: $row-height;
    line-height: $line-height;
    padding: ($row-height - $line-height)/2 15px;

    @include appearance(none);
    @include box-sizing(border-box);
}

strong {
    font-weight: 400;
}