<link rel="import" href="../../bower_components/polymer/polymer.html">

<polymer-element name="padlock-dialog" on-tap="{{ close }}" touch-action="none">
    <template>
        <link href="dialog.css" rel="stylesheet" type="text/css">
        <div class="inner" on-tap="{{ innerTap }}">
            <content></content>
        </div>
    </template>
    <script>
        Polymer("padlock-dialog", {
            enteredView: function() {
                this.addEventListener("webkitTransitionEnd", this.transitionEnd.bind(this), false);
            },
            open: function() {
                var items = this.children.array();
                var del = 0.2/items.length;
                for (var i=0; i<items.length; i++) {
                    items[i].style["-webkit-transition-delay"] = (i*del) + "s";
                }
                this.style.display = "block";
                this.transCount = items.length * 2 + 1;
                setTimeout(function() {
                    this.classList.add("open");
                }.bind(this), 10);
                this.fire("open");
            },
            close: function() {
                var items = this.children.array();
                var del = 0.2/items.length;
                for (var i=0; i<items.length; i++) {
                    items[i].style["-webkit-transition-delay"] = ((items.length-i-1)*del) + "s";
                }
                this.transCount = items.length * 2 + 1;
                this.classList.remove("open");
                this.fire("close");
            },
            transitionEnd: function(event) {
                this.transCount--;
                if (!this.classList.contains("open") && !this.transCount) {
                    this.style.display = "none";
                }
            },
            innerTap: function(event, detail, sender) {
                // Intercept the tap event to prevent closing the popup
                event.stopPropagation();
            }
        });
    </script>
</polymer-element>