@import "../config.scss";
@import "compass/css3";

:host {
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: transparent;
    display: none;

    @include transition(background-color 0.5s);

    &.open {
        background-color: rgba(0, 0, 0, 0.5);

        .inner > * {
            @include transform(translate3d(0, 0, 0));
            opacity: 1;
        }
    }
}

.inner {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0 5px;

    @include box-sizing(border-box);

    > * {
        $line-height: 20px;
        display: block;
        line-height: $line-height;
        padding: ($row-height - $line-height)/2 0;
        margin: 5px 0;
        text-align: center;
        opacity: 0;
        cursor: pointer;
        color: $text-color-light;
        border: solid 1px;

        @include box-sizing(border-box);
        @include transition(transform 0.3s, opacity 0.3s);
        @include transform(translate3d(0, 100%, 0));
    }

    input {
        width: 100%;
        border: none;
        font-size: inherit;
        color: inherit;
        cursor: text;
        border-radius: 0;

        @include box-sizing(border-box);
        @include appearance(none);
    }
}

.title {
    background: transparent;
    color: $text-color-light;
    cursor: default;
    border: none;
}

.negative {
    background: $color-primary;
    color: $text-color-light;
    border: none;
}