<link rel="import" href="../../bower_components/polymer/polymer.html">

<polymer-element name="padlock-dialog" touch-action="none" attributes="open"
    on-tap="{{ close }}" on-transitionend="{{ transitionEnd }}" >
    <template>
        <!-- STYLES -->
        <link href="dialog.css" rel="stylesheet" type="text/css">
        <div class="inner" on-tap="{{ innerTap }}">
            <content></content>
        </div>
    </template>
    <script>
        Polymer("padlock-dialog", {
            open: false,
            openChanged: function() {
                var items = this.children.array(),
                    dt = 0.2/items.length,
                    prefix = require("padlock/util").getVendorPrefix().css,
                    l = items.length,
                    delay;

                for (var i=0; i<l; i++) {
                    delay = this.open ? i * dt : (items.length - i - 1) * dt;
                    items[i].style[prefix + "transition-delay"] = delay + "s";
                }

                if (this.open) {
                    this.style.display = "block";
                }

                this.transCount = items.length * 2 + 1;
                setTimeout(function() {
                    if (this.open) {
                        this.classList.add("open");
                    } else {
                        this.classList.remove("open");
                    }
                }.bind(this), 10);
                this.fire(this.open ? "open" : "close");
            },
            transitionEnd: function(event) {
                this.transCount--;
                if (!this.open) {
                    this.style.display = "none";
                }
            },
            innerTap: function(event, detail, sender) {
                // Intercept the tap event to prevent closing the popup
                event.stopPropagation();
            },
            close: function() {
                this.open = false;
            }
        });
    </script>
</polymer-element>