<link rel="import" href="../../bower_components/polymer/polymer.html">

<polymer-element name="fast-input" extends="input" touch-action="none" on-tap="{{ tap }}" on-mousedown="{{ mousedown }}"
    on-focus="{{ focussed }}" on-blur="{{ blurred }}" attributes="hasFocus selectAllOnFocus">
    <script>
        Polymer("fast-input", {
            hasFocus: false,
            selectAllOnFocus: false,
            ready: function() {
                require(["padlock/platform"], function(platform) {
                    // In certain situations we want to handle the focussing
                    // of input elements manually instead of relying on the native
                    // tap-to-focus mechanism.
                    this.overrideNativeFocus = platform.isIOSStandalone();
                }.bind(this));
            },
            tap: function(event) {
                if (this.overrideNativeFocus && !this.hasFocus) {
                    this.setSelectionRange(this.value.length, this.value.length);
                }
            },
            mousedown: function() {
                if (this.overrideNativeFocus) {
                    // We've already focussed the input. This is for suppressing the
                    // native mechanism.
                    event.preventDefault();
                    event.stopPropagation();
                }
            },
            focussed: function() {
                this.hasFocus = true;

                if (this.selectAllOnFocus) {
                    // Need to do this asynchronously in some browsers or it won't work
                    setTimeout(function() {
                        this.setSelectionRange(0, this.value.length);
                    }.bind(this), 10);
                }
            },
            blurred: function() {
                this.hasFocus = false;
            }
        });
    </script>
</polymer-element>