@import "compass/css3";
@import "../config.scss";

:host {
    border-bottom: solid 2px $border-color;
    overflow: hidden;
    height: $row-height;
    color: $text-color-light;
    background: transparentize($color-primary, 0.1);

    @include display-box;
    @include box-sizing(border-box);
    @include transform(translate3d(0, 0, 0));
    @include transition(transform 0.5s, background 1s);

    safe-shapeshifter {
        display: block;
        width: $row-height;
        height: $row-height;
        padding: 10px;

        @include box-sizing(border-box);

        line {
            stroke: $text-color-light;
        }
    }

    &.show-record {
        .filter-input {
            opacity: 0;
            @include transform(translate(0, -100%));
        }

        .name {
            opacity: 1;
            @include transform(translate(0, 0));
        }
    }

    &.filtering:not(.show-record) #leftIcon {
        width: 0;
        padding-left: 0;
    }

    &.hidden {
        @include transform(translate3d(0, -100%, 0));
    }
}

.middle {
    position: relative;
    @include box-flex(1);
}

.middle > * {
    $line-height: 20px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: $line-height;
    padding: ($row-height - $line-height)/2 0;

    @include transition(transform 0.5s, opacity 0.5s);
}

input {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    border: none;
    background: transparent;
    color: $text-color-light;

    @include appearance(none);

    &::-webkit-input-placeholder {
       color: $placeholder-color-light;
    }
}

.name {
    opacity: 0;
    @include transform(translate(0, 100%));
}

#leftIcon {
    @include transition(width 0.5s, padding-left 0.5s);
}