@import "compass/css3";

:host {
    background: rgba(0, 0, 0, 0.1);
    overflow: hidden;

    @include display-box;
    @include box-sizing(border-box);
    @include transform(translate3d(0, 0, 0));
    @include transition(transform 0.5s);

    safe-shapeshifter {
        display: block;
        width: 30px;
        height: 30px;
        padding: 8px;
    }

    &.show-record {
        .filter-input {
            opacity: 0;
            @include transform(translate(0, -100%));
        }

        .name {
            opacity: 1;
            @include transform(translate(0, 0));
        }
    }

    &.filtering:not(.show-record) #leftIcon {
        width: 0;
        padding-left: 0;
    }

    &.hidden {
        @include transform(translate3d(0, -100%, 0));
    }
}

.middle {
    position: relative;
    @include box-flex(1);
}

.middle > * {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 9px 0;

    @include box-sizing(border-box);
    @include transition(transform 0.5s, opacity 0.5s);
}

input {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    border: none;
    background: transparent;
    @include appearance(none);
}

.name {
    opacity: 0;
    line-height: 28px;
    @include transform(translate(0, 100%));
}

#leftIcon {
    @include transition(width 0.5s, padding-left 0.5s);
}