<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="shapeshifter.html">

<polymer-element name="padlock-header" attributes="view showFilter filterString">
    <template>
        <!-- STYLES -->
        <link href="header.css" rel="stylesheet" type="text/css">
        <div class="{{ {'showing': view ? view.headerOptions.show : false, 'show-filter': view ? view.headerOptions.showFilter : false, 'filtering': filterString, 'scrim': scrim} | tokenList }}">
            <!-- LEFT BUTTON -->
            <padlock-shapeshifter id="leftIcon" shape="menu" on-tap="{{ leftClicked }}"></padlock-shapeshifter>
            <div class="middle">
                <!-- FILTER INPUT -->
                <input id="filterInput" class="filter-input" value="{{ filterString }}" type="search"
                    placeholder="type to filter..." disabled?="{{ record }}"/>
                <!-- HEADER TITLE -->
                <div class="title">{{ view.titleText }}</div>
            </div>
            <!-- RIGHT BUTTON -->
            <padlock-shapeshifter id="rightIcon" shape="plus" on-tap="{{ rightClicked }}"></padlock-shapeshifter>
        </div>
    </template>
    <script>
        Polymer("padlock-header", {
            view: null,
            filterString: "",
            observe: {
                filterString: "updateIcons",
                view: "updateIcons",
                record: "updateIcons"
            },
            //* Updates the icon shapes for the left and right header button
            updateIcons: function() {
                if (this.view && this.view.headerOptions.showFilter && this.filterString) {
                    // In case the filter input is showing, view preferences are overwritten
                    this.$.leftIcon.shape = "";
                    this.$.rightIcon.shape = "cancel";
                } else {
                    // The current view provides the icon shapes it wants
                    this.$.leftIcon.shape = this.view.headerOptions.leftIconShape;
                    this.$.rightIcon.shape = this.view.headerOptions.rightIconShape;
                }
            },
            //* The left button was clicked. Delegates to the corresponding view method
            leftClicked: function() {
                if (this.view && this.view.leftHeaderButton) {
                    this.view.leftHeaderButton();
                }
            },
            /**
             * The right button was clicked. Resets the filter string if the filter input is showing,
             * delegates to view method otherwise
             */
            rightClicked: function() {
                if (this.view && this.view.headerOptions.showFilter && this.filterString) {
                    this.filterString = "";
                    this.$.filterInput.blur();
                } else if (this.view && this.view.rightHeaderButton) {
                    this.view.rightHeaderButton();
                }
            }
        })
    </script>
</polymer-element>