<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="shapeshifter.html">
<link rel="import" href="fast-input.html">

<polymer-element name="padlock-header" attributes="filterString record">
    <template>
        <link href="header.css" rel="stylesheet" type="text/css">
        <padlock-shapeshifter id="leftIcon" shape="menu" on-tap="{{ leftClicked }}"></padlock-shapeshifter>
        <div class="middle" id="middle">
            <input is="fast-input" id="filterInput" class="filter-input" value="{{ filterString }}" type="search" placeholder="type to filter..." />
            <div class="name">{{ record.name }}</div>
        </div>
        <padlock-shapeshifter id="rightIcon" shape="plus" on-tap="{{ rightClicked }}"></padlock-shapeshifter>
    </template>
    <script>
        Polymer("padlock-header", {
            editing: false,
            recordChanged: function(oldRec, newRec) {
                if (newRec) {
                    this.$.filterInput.setAttribute("disabled", "disabled");
                    this.classList.add("show-record");
                    this.$.leftIcon.shape = "arrow-left";
                    this.$.rightIcon.shape = "more";
                } else {
                    this.$.filterInput.removeAttribute("disabled");
                    this.classList.remove("show-record");
                    this.$.leftIcon.shape = "menu";
                    this.$.rightIcon.shape = this.filterString ? "cancel" : "plus";
                }
            },
            leftClicked: function() {
                if (!this.record) {
                    this.fire("menu");
                } else {
                    this.fire("back");
                }
            },
            rightClicked: function() {
                if (this.record) {
                    this.fire("record-menu");
                } else if (this.filterString) {
                    this.filterString = "";
                    this.$.filterInput.blur();
                } else {
                    this.fire("add")
                }
            },
            filterStringChanged: function() {
                if (this.filterString) {
                    this.classList.add("filtering");
                    this.$.rightIcon.shape = "cancel";
                } else {
                    this.classList.remove("filtering");
                    this.$.rightIcon.shape = this.record ? "more" : "plus";
                }
            }
        })
    </script>
</polymer-element>