<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="view.html">
<link rel="import" href="dialog.html">

<polymer-element name="padlock-import-view" extends="padlock-view">
    <template>
        <!-- STYLES -->
        <link href="import-view.css" rel="stylesheet" type="text/css">
        <!-- RAW DATA INPUT -->
        <textarea id="rawInput" placeholder="Paste your data here!"></textarea>
        <!-- IMPORT BUTTON -->
        <button class="import-button primary" on-tap="{{ requirePassword }}">import</button>
        <!-- PASSWORD DIALOG -->
        <padlock-dialog id="pwdDialog">
            <div class="title">Please enter password.</div>
            <input id="pwdInput" type="password" placeholder="Enter password..." />
            <button class="primary" on-tap="{{ startImport }}">OK</button>
        </padlock-dialog>
        <!-- ERROR DIALOG -->
        <padlock-dialog id="errorDialog">
            <div class="title">Password incorrect or data corrupt.</div>
            <button class="primary" on-tap="{{ requirePassword }}">retry</button>
            <button on-tap="{{ importCancel }}">cancel</button>
        </padlock-dialog>
    </template>
    <script>
        Polymer("padlock-import-view", {
            headerOptions: {
                show: true,
                leftIconShape: "arrow-left",
                rightIconShape: ""
            },
            titleText: "Import Records",
            leftHeaderButton: function() {
                this.fire("back");
            },
            show: function(animation, callback) {
                this.$.rawInput.value = "";
                this.super([animation, callback]);
            },
            requirePassword: function() {
                this.$.errorDialog.close();
                this.$.pwdInput.value = "";
                this.$.pwdDialog.open();
            },
            startImport: function() {
                this.$.pwdDialog.close();
                require(["padlock/import"], function(imp) {
                    var records = imp.importSecuStoreBackup(this.$.rawInput.value, this.$.pwdInput.value);
                    if (records) {
                        this.fire("import", {records: records})
                    } else {
                        this.$.errorDialog.open();
                    }
                }.bind(this));
            },
            importCancel: function() {
                this.$.errorDialog.close();
                this.fire("back");
            }
        });
    </script>
</polymer>