<polymer-element name="safe-list-view" attributes="collection filterString selected">
    <template>
        <style>
            .list {
                padding-top: 50px;
                overflow: scroll;
                -webkit-overflow-scrolling: touch;
                height: 100%;
                box-sizing: border-box;
            }
        </style>
        <div id="listHeader" class="list-header">
        </div>
        <div id="list" class="list">
            <template repeat="{{ record, i in filteredRecords}}">
                <safe-record-item record="{{ record }}" on-click="{{ recordClicked }}" on-delete="{{ deleteClicked }}" index="{{ i }}"></safe-record-item>
            </template>
        </div>
    </template>
    <script>
        Polymer('safe-list-view', {
            observe: {
                filterString: "applyFilter",
                "collection.records": "applyFilter"
            },
            applyFilter: function() {
                var fs = this.filterString;
                this.filteredRecords = fs ? this.collection.records.filter(function(rec) {
                    return rec.name.toLowerCase().search(fs.toLowerCase()) != -1;
                }) : this.collection.records;
            },
            recordClicked: function(event, detail, sender) {
                this.selected = sender.templateInstance.model.record;
            },
            deleteClicked: function(event, detail, sender) {
                console.log("*** delete clicked ***", arguments);
                this.fire("delete-record", {record: sender.templateInstance.model.record});
            }
        });
    </script>
</polymer-element>