@import "../config.scss";
@import "compass/css3";

:host {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    height: 100%;
    font-size: 0;
    padding-bottom: 5px;
    @include box-sizing(border-box);
}

padlock-record-item, .section-header {
    font-size: $font-size-default;
}

.track-surrogate {
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    pointer-events: none;
    opacity: 0.8;

    @include transform(translate3d(0, 0, 0));
}

.section-header {
    padding: 0 15px;
    color: $color-primary;
    margin-top: 5px;
}

@media (min-width: 700px) {
    :host {
        padding-left: 5px;
    }

    padlock-record-item {
        display: inline-block;
        padding-right: 5px;
    }
}

@media (min-width: 700px) and (max-width: 1000px) {
    padlock-record-item {
        width: 50%;
    }
}

@media (min-width: 1000px) and (max-width: 1300px) {
    padlock-record-item {
        width: 33.33%;
    }
}

@media (min-width: 1300px) {
    padlock-record-item {
        width: 25%;
    }
}