<polymer-element name="safe-list-view" attributes="collection filterString selected" on-webkitAnimationEnd="{{ animationEnd }}">
    <template>
        <style>
            .list {
                overflow: scroll;
                -webkit-overflow-scrolling: touch;
                height: 100%;
                box-sizing: border-box;
                font-size: 0;
                padding: 50px 5px 5px 5px;
            }

            .list > * {
                font-size: 18px;
            }
        </style>
        <div id="list" class="list">
            <template repeat="{{ record, i in filteredRecords}}">
                <safe-record-item record="{{ record }}" on-click="{{ recordClicked }}" on-delete="{{ deleteClicked }}" index="{{ i }}"></safe-record-item>
            </template>
        </div>
    </template>
    <script>
        Polymer('safe-list-view', {
            observe: {
                filterString: "applyFilter",
                "collection.records": "applyFilter"
            },
            enteredView: function() {
                var self = this;
                this.addEventListener("webkitAnimationEnd", function() {
                    this.animationEnd.apply(self, arguments);
                }, false);
            },
            applyFilter: function() {
                var fs = this.filterString;
                this.filteredRecords = fs ? this.collection.records.filter(function(rec) {
                    return rec.name.toLowerCase().search(fs.toLowerCase()) != -1;
                }) : this.collection.records;
            },
            recordClicked: function(event, detail, sender) {
                this.selected = sender.templateInstance.model.record;
            },
            startOutAnimation: function() {
                this.animCount = 0, self = this;

                this.$.list.children.array().forEach(function(item) {
                    var display = window.getComputedStyle(item, null).getPropertyValue("display");
                    if (display != "none") {
                        self.animCount++;
                        item.style["-webkit-animation"] = "slideOutToLeft 0.4s ease " + (Math.random()/5) + "s both";
                    }
                });

                if (!this.animCount) {                    
                    this.fire("animation-end", {direction: "out"});
                }
            },
            startInAnimation: function() {
                this.animCount = 0, self = this;

                this.$.list.children.array().forEach(function(item) {
                    var display = window.getComputedStyle(item, null).getPropertyValue("display");
                    if (display != "none") {
                        self.animCount++;
                        item.style["-webkit-animation"] = "slideInFromLeft 0.4s ease " + (Math.random()/5) + "s both";
                    }
                });

                if (!this.animCount) {                    
                    this.fire("animation-end", {direction: "in"});
                }
            },
            animationEnd: function(event) {
                this.animCount--;
                if (!this.animCount) {
                    var direction = event.animationName == "slideOutToLeft" ? "out" : "in";
                    this.fire("animation-end", {direction: direction});
                }
            },
            selectedChanged: function() {
                var selected = this.selected;
                this.$.list.children.array().forEach(function(item) {
                    if (item.record == selected) {
                        item.classList.add("selected");
                    } else {
                        item.classList.remove("selected");
                    }
                });
            }
        });
    </script>
</polymer-element>