@import "../config.scss";
@import "compass/css3";

:host {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    height: 100%;
    font-size: 0;
    padding-bottom: 5px;
    @include box-sizing(border-box);
}

padlock-record-item {
    font-size: $font-size-default;
}

.track-surrogate {
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    pointer-events: none;
    opacity: 0.8;

    @include transform(translate3d(0, 0, 0));
}