<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="view.html">

<polymer-element name="padlock-lock-view" extends="padlock-view">
    <template>
        <link href="lock-view.css" rel="stylesheet" type="text/css">
        <div class="wrapper {{ errorMessage ? 'error' : '' }}">
            <div class="header">
                Padlock
            </div>
            <input is="fast-input" type="password" placeholder="Enter Password" on-keydown="{{ keydown }}" id="pwdInput"/>
            <div class="error-message">{{ errorMessage }}</div>
        </div>
    </template>
    <script>
        Polymer("padlock-lock-view", {
            keydown: function(event, detail, sender) {
                if (event.keyCode == 13) { 
                    this.$.pwdInput.blur();
                    this.fire("enter", {password: this.$.pwdInput.value});
                }
            },
            show: function(animation, callback) {
                var input = this.$.pwdInput;
                input.value = "";
                var cb = function() {
                    input.focus();
                    if (callback) {
                        callback();
                    }
                } 
                this.super([animation, cb]);
            }
        });
    </script>
</polymer>