<polymer-element name="safe-lock-view" extends="safe-view">
    <template>
        <link href="lock-view.css" rel="stylesheet" type="text/css">
        <div class="wrapper {{ errorMessage ? 'error' : '' }}">
            <div class="header">
                Padlock
            </div>
            <input type="password" placeholder="Enter Password" on-keydown="{{ keydown }}" id="pwdInput"/>
            <div class="error-message">{{ errorMessage }}</div>
        </div>
    </template>
    <script>
        Polymer("safe-lock-view", {
            color: "#feeb75",
            keydown: function(event, detail, sender) {
                if (event.keyCode == 13) { 
                    this.$.pwdInput.blur();
                    this.fire("enter", {password: this.$.pwdInput.value});
                }
            },
            getAnimationElements: function() {
                return [this.shadowRoot.querySelector(".header"), this.shadowRoot.querySelector("input")];
            },
            show: function(animation, callback) {
                var input = this.$.pwdInput;
                input.value = "";
                var cb = function() {
                    input.focus();
                    if (callback) {
                        callback();
                    }
                } 
                this.super([animation, cb]);
            }
        });
    </script>
</polymer>