@import "../config.scss";
@import "compass/css3";

:host {
    background: $color-primary;
    color: $text-color-light;
}

.wrapper {
    height: 300px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    text-align: center;
}

.header {
    font-size: 50px;
    font-weight: 100;
    padding: 20px;
}

input {
    background: transparent;
    font-family: inherit;
    font-size: inherit;
    padding: 12px;
    border: none;
    border-top: solid 1px $border-color-light;
    border-bottom: solid 1px $border-color-light;
    text-align: center;
    width: 100%;
    margin: 0;
    border-radius: 0;
    color: $text-color-light;

    @include appearance(none);
    @include box-sizing(border-box);

    &::-webkit-input-placeholder {
       color: $placeholder-color-light;
    }
}

.error-message {
    color: $color-negative;
    padding: 20px;
    opacity: 0;

    @include transform(translate(0, 100%));
    @include transition(transform 0.5s, opacity 0.5s);
}

.error  {
    .error-message {
        opacity: 1;

        @include transform(translate(0, 0));
    }

    input {
        border-color: $color-negative;
        color: $color-negative;
    }
}