@import "../config.scss";
@import "compass/css3";

.wrapper {
    height: 300px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    text-align: center;
}

.header {
    font-size: 50px;
    font-weight: 100;
    padding: 20px;
}

input {
    background: transparent;
    font-family: inherit;
    font-size: inherit;
    padding: 12px;
    border: none;
    border-top: solid 1px $border-color;
    border-bottom: solid 1px $border-color;
    text-align: center;
    width: 100%;
    margin: 0;
    border-radius: 0;

    @include box-sizing(border-box);
    @include appearance(none);

    &.error {
        color: $color-negative;
        border-color: $color-negative;
    }
}

.input-wrapper {
    position: relative;
    padding-bottom: 10px;
    
    @include transition(transform 0.5s, opacity 0.5s);
    @include transform(translate(0, 0));

    &.hidden {
        opacity: 0;
        @include transform(translate(0, 100%));
    }
}