@import "../config.scss";
@import "compass/css3";

:host {}

.wrapper {
    height: 450px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    text-align: center;
}

.header {
    font-size: 50px;
    font-weight: 100;
    padding: 50px;
    color: $color-primary;
}

input {
    text-align: center;
    width: 100%;
}

.input-wrapper {
    position: relative;
    padding-bottom: 15px;
    
    @include transition(transform 0.5s, opacity 0.5s);
    @include transform(translate(0, 0));

    &.hidden {
        opacity: 0;
        @include transform(translate(0, 100%));
    }

    &.error {
        input {
            color: $color-negative;
        }

        ::-webkit-input-placeholder {
           color: $color-negative;
        }
    }
}

.enter-button {
    width: 100%;
}