<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="view.html">

<polymer-element name="safe-password-view" extends="safe-view" attributes="currentPassword">
    <template>
        <link href="password-view.css" rel="stylesheet" type="text/css">
        <div class="wrapper">
            <div class="header">
                Padlock
            </div>
            <div class="input-wrapper" id="currPwdWrapper" style="{{ currentPassword ? '' : 'display: none' }}">
                <input is="fast-input" type="password" placeholder="Enter Current Password" on-keydown="{{ currPwdKeydown }}" id="currPwdInput" style="{{ currentPassword ? '' : 'display: none' }}"/>
            </div>
            <div class="input-wrapper" id="passwordWrapper">
                <input is="fast-input" type="password" placeholder="Enter New Password" on-keydown="{{ pwdKeydown }}" id="newPwdInput"/>
            </div>
            <div class="input-wrapper" id="confirmWrapper">
                <input is="fast-input" type="password" placeholder="Confirm Password" on-keydown="{{ confirmKeydown }}" id="confirmInput"/>
            </div>
        </div>
    </template>
    <script>
        Polymer("safe-password-view", {
            show: function(animation, callback) {
                this.$.currPwdInput.value = "";
                this.$.newPwdInput.value = "";
                this.$.confirmInput.value = "";

                if (this.currentPassword) {
                    this.$.passwordWrapper.classList.add("hidden");
                } else {
                    this.$.passwordWrapper.classList.remove("hidden");
                }
                this.$.confirmWrapper.classList.add("hidden");

                var input = this.currentPassword ? this.$.currPwdInput : this.$.newPwdInput;
                var cb = function() {
                    input.focus();
                    if (callback) {
                        callback();
                    }
                } 
                this.super([animation, cb]);
            },
            currPwdKeydown: function() {
                if (event.keyCode == 13) {
                    if (this.$.currPwdInput.value == this.currentPassword) {
                        this.$.currPwdInput.classList.remove("error");
                        this.$.passwordWrapper.classList.remove("hidden");
                        this.$.newPwdInput.focus();
                    } else {
                        this.$.currPwdInput.classList.add("error");
                    }
                }
            },
            pwdKeydown: function(event, detail, sender) {
                if (event.keyCode == 13) { 
                    this.$.confirmWrapper.classList.remove("hidden");
                    this.$.confirmInput.focus();
                }
            },
            confirmKeydown: function() {
                if (event.keyCode == 13) {
                    if (this.$.newPwdInput.value == this.$.confirmInput.value) {
                        this.$.newPwdInput.classList.remove("error");
                        this.$.confirmInput.classList.remove("error");
                        this.$.confirmInput.blur();
                        this.fire("enter", {password: this.$.newPwdInput.value});
                    } else {
                        this.$.newPwdInput.classList.add("error");
                        this.$.confirmInput.classList.add("error");
                    }
                }
            }
        });
    </script>
</polymer>