<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="view.html">

<polymer-element name="padlock-password-view" extends="padlock-view" attributes="currentPassword" on-keydown="{{ keyDown }}">
    <template>
        <link href="password-view.css" rel="stylesheet" type="text/css">
        <div class="wrapper">
            <div class="header">
                Padlock
            </div>
            <div class="input-wrapper" id="currPwdWrapper" style="{{ currentPassword ? '' : 'display: none' }}">
                <input is="fast-input" type="password" placeholder="Enter Current Password" id="currPwdInput" style="{{ currentPassword ? '' : 'display: none' }}"/>
            </div>
            <div class="input-wrapper" id="passwordWrapper">
                <input is="fast-input" type="password" placeholder="Enter New Password" id="newPwdInput"/>
            </div>
            <div class="input-wrapper" id="confirmWrapper">
                <input is="fast-input" type="password" placeholder="Confirm Password" id="confirmInput"/>
            </div>
            <button class="enter-button primary" on-tap="{{ enter }}">OK</button>
        </div>
    </template>
    <script>
        Polymer("padlock-password-view", {
            show: function(animation, callback) {
                this.$.currPwdInput.value = "";
                this.$.newPwdInput.value = "";
                this.$.confirmInput.value = "";

                var input = this.currentPassword ? this.$.currPwdInput : this.$.newPwdInput;
                var cb = function() {
                    input.focus();
                    if (callback) {
                        callback();
                    }
                } 
                this.super([animation, cb]);
            },
            keyDown: function(event) {
                if (event.keyCode == 13) {
                    this.enter();
                }
            },
            enter: function() {
                var currPwd = this.$.currPwdInput.value,
                    newPwd = this.$.newPwdInput.value,
                    cfmPwd = this.$.confirmInput.value;

                if (currPwd == this.currentPassword) {
                    this.$.currPwdWrapper.classList.remove("error");
                } else {
                    this.$.currPwdWrapper.classList.add("error");
                    return;
                }

                if (newPwd && newPwd == cfmPwd) {
                    this.$.passwordWrapper.classList.remove("error");
                    this.$.confirmWrapper.classList.remove("error");
                    this.fire("enter", {password: newPwd});
                } else {
                    this.$.passwordWrapper.classList.add("error");
                    this.$.confirmWrapper.classList.add("error");
                }
            }
        });
    </script>
</polymer>