@import "../config.scss";

:host {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;

    &.selected .inner {
        background: rgba(0, 0, 0, 0.1);
    }

    &.ghost .inner {
        opacity: 0.5;
    }

    &.drag-over:not(.ghost) > .inner {
        background: rgba(0, 0, 0, 0.1);
        // border-top: solid 2px #539dc6;
    }
}

.inner {
    padding: 12px;
    border: solid $border-color;
    border-width: 1px 0;
    margin-top: 5px;
}

@media (min-width: 700px) and (max-width: 1000px) {
    :host {
        width: 50%;
    }

    :host:nth-child(2n) .inner {
        margin-right: 5px;
    }
}

@media (min-width: 1000px) and (max-width: 1300px) {
    :host {
        width: 33.33%;
    }

    :host:nth-child(3n) .inner, :host:nth-child(3n-1) .inner {
        margin-right: 5px;
    }
}

@media (min-width: 1300px) {
    :host {
        width: 25%;
    }

    :host:nth-child(4n) .inner, :host:nth-child(4n-1) .inner, :host:nth-child(4n-2) .inner {
        margin-right: 5px;
    }
}

@media (min-width: 700px) {
    :host.drag-over:not(.ghost) > .inner {
        background: #eeeeee;
        border-top: solid 1px rgba(0, 0, 0, 0.08);
        border-left: solid 2px #539dc6;
    }
}