<polymer-element name="safe-record-item" attributes="record index" constructor="RecordItem">
    <template>
        <style>
            :host {
                display: inline-block;
                width: 100%;
                box-sizing: border-box;
                cursor: pointer;
            }

            .inner {
                padding: 12px;
                min-height: 23px;
                background: #fff;
                border: solid 1px rgba(0, 0, 0, 0.08);
                border-bottom: solid 1px rgba(0, 0, 0, 0.12);
                margin-top: 5px;
            }

            :host:hover .inner {
                background: #eeeeee;
            }

            :host.selected .inner {
                background: #ffd84a;
            }

            :host.ghost .inner {
                opacity: 0.5;
            }

            :host.drag-over:not(.ghost) > .inner {
                background: #eeeeee;
                border-top: solid 2px #539dc6;
            }

            @media (min-width: 700px) and (max-width: 1000px) {
                :host {
                    width: 50%;
                }

                :host:nth-child(2n) .inner {
                    margin-right: 5px;
                }
            }

            @media (min-width: 1000px) and (max-width: 1300px) {
                :host {
                    width: 33.33%;
                }

                :host:nth-child(3n) .inner, :host:nth-child(3n-1) .inner {
                    margin-right: 5px;
                }
            }

            @media (min-width: 1300px) {
                :host {
                    width: 25%;
                }

                :host:nth-child(4n) .inner, :host:nth-child(4n-1) .inner, :host:nth-child(4n-2) .inner {
                    margin-right: 5px;
                }
            }

            @media (min-width: 700px) {
                :host.drag-over:not(.ghost) > .inner {
                    background: #eeeeee;
                    border-top: solid 1px rgba(0, 0, 0, 0.08);
                    border-left: solid 2px #539dc6;
                }
            }
        </style>
        <div class="inner">
            {{record.name}}
        </div>
    </template>
    <script>
        Polymer('safe-record-item');
    </script>
</polymer-element>