@import "../config.scss";

:host {
    display: block;
    padding-top: 50px;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    height: 100%;
    box-sizing: border-box;
}

.field, .add {
    display: -webkit-box;
    border: solid $border-color;
    border-width: 1px 0;
    margin: 5px 0;
    padding: 12px;
    cursor: pointer;
}

.field {
    > * {
        text-overflow: ellipsis;
    }

    > .label {
        max-width: 100px;
        text-align: right;
        color: #feeb75;
    }

    > .value {
        -webkit-box-flex: 1;
    }
}

.add {
    line-height: 0;
    text-align: center;
    padding: 0;

    > safe-shapeshifter {
        display: block;
        width: 26px;
        height: 26px;
        margin: 10px auto;
    }
}