<polymer-element name="safe-record-view" attributes="record">
    <template>
        <style>
            :host {
                padding-top: 47px;
                overflow: scroll;
                -webkit-overflow-scrolling: touch;
                height: 100%;
                box-sizing: border-box;
            }

            .field {
                display: -webkit-box;
                border-bottom: solid 1px rgba(0, 0, 0, 0.1);
                background: #fff;
            }

            /*.field:not(:last-child) {
                border-bottom: solid 1px rgba(0, 0, 0, 0.1);
            }*/

            .field > input {
                border: none;
                font-family: inherit;
                font-size: inherit;
                font-weight: inherit;
                -webkit-appearance: none;
                padding: 13.5px 15px;
                display: block;
                background-color: transparent;
                text-overflow: ellipsis;
                margin: 0;
            }

            .field > input.label {
                width: 100px;
                text-align: right;
                color: rgb(175, 175, 175);
                font-size: 15px;
            }

            .field > input.value {
                -webkit-box-flex: 1;
            }

            .add {
                padding: 13.5px 15px;
                min-height: 23px;
                text-align: center;
                font-size: 30px;
                font-weight: 100;
                line-height: 20px;
                color: #000;
                border-bottom: solid 1px rgba(0, 0, 0, 0.1);
                background: #fff;
            }

            .add:hover {
                background: rgba(0, 0, 0, 0.05);
            }

            .add:active:hover:not(.disabled) {
                background: rgba(0, 0, 0, 0.1);
            }
        </style>
        <template repeat="{{ field, i in record.fields }}">
            <div class="field">
                <input class="value" value="{{ field.value }}" placeholder="Enter Content..." />
                <input class="label" value="{{ field.name }}" placeholder="Enter Label..." />
            </div>
        </template>
        <div class="add" on-click="{{ addField }}">+</div>
    </template>
    <script>
        Polymer('safe-record-view', {
            enteredView: function() {
                var self = this;
                this.addEventListener("webkitAnimationEnd", function() {
                    this.animationEnd.apply(self, arguments);
                }, false);
            },
            back: function() {
                this.fire("back");
            },
            addField: function() {
                var field = {
                    name: "",
                    value: ""
                };
                this.record.fields.push(field);
            },
            startOutAnimation: function() {
                this.animCount = 0;
                var self = this;
                this.shadowRoot.children.array().forEach(function(item) {
                    var display = window.getComputedStyle(item, null).getPropertyValue("display");
                    if (display != "none") {
                        self.animCount++;
                        item.style["-webkit-animation"] = "slideOutToRight 0.4s ease " + (Math.random()/5) + "s both";
                    }
                });
            },
            startInAnimation: function() {
                this.animCount = 0;
                var self = this;
                this.shadowRoot.children.array().forEach(function(item) {
                    var display = window.getComputedStyle(item, null).getPropertyValue("display");
                    if (display != "none") {
                        self.animCount++;
                        item.style["-webkit-animation"] = "slideInFromRight 0.4s ease " + (Math.random()/5) + "s both";
                    }
                });
            },
            animationEnd: function(event) {
                this.animCount--;
                if (!this.animCount) {
                    this.fire("animation-end", {direction: event.animationName == "slideInFromRight" ? "in" : "out"});
                }
            }
        });
    </script>
</polymer-element>