<polymer-element name="safe-record-view" attributes="record editing">
    <template>
        <style>
            :host {
                display: block;
                padding-top: 47px;
                overflow: scroll;
                -webkit-overflow-scrolling: touch;
                height: 100%;
                box-sizing: border-box;
            }

            .field {
                display: -webkit-box;
                border: solid 1px rgba(0, 0, 0, 0.08);
                border-bottom: solid 1px rgba(0, 0, 0, 0.12);
                background: #fff;
                margin: 5px;
            }

            /*.field:not(:last-child) {
                border-bottom: solid 1px rgba(0, 0, 0, 0.1);
            }*/

            .field > * {
                border: none;
                font-family: inherit;
                font-size: inherit;
                font-weight: inherit;
                -webkit-appearance: none;
                padding: 6px;
                margin: 8px;
                display: block;
                text-overflow: ellipsis;
                border-radius: 2px;
            }

            .field > input {
                background: #f5f5f5;
            }

            .field > .label {
                width: 100px;
                text-align: right;
                color: rgb(175, 175, 175);
                /*font-size: 15px;*/
            }

            .field > .value {
                -webkit-box-flex: 1;
            }

            .add {
                padding: 10px;
                line-height: 0;
                text-align: center;
                border-bottom: solid 1px rgba(0, 0, 0, 0.1);
                background: #fff;
                margin: 5px;
            }

            .add:hover {
                background: rgba(0, 0, 0, 0.05);
            }

            .add:active:hover:not(.disabled) {
                background: rgba(0, 0, 0, 0.1);
            }
        </style>
        <template repeat="{{ field, i in record.fields }}">
            <div class="field">
                <template if="{{ editing }}">
                    <input class="value" value="{{ field.value }}" placeholder="Enter Content..."/>
                    <input class="label" value="{{ field.name }}" placeholder="Enter Label..."/>
                </template>
                <template if="{{ !editing }}">
                    <div class="value">{{ field.value }}</div>
                    <div class="label">{{ field.name }}</div>
                </template>
            </div>
        </template>
        <template if="{{ editing }}">
            <div class="add" on-click="{{ addField }}">
                <safe-shapeshifter shape="plus"></safe-shapeshifter>
            </div>
        </template>
    </template>
    <script>
        Polymer('safe-record-view', {
            enteredView: function() {
                var self = this;
                this.addEventListener("webkitAnimationEnd", function() {
                    this.animationEnd.apply(self, arguments);
                }, false);
            },
            back: function() {
                this.fire("back");
            },
            addField: function() {
                var field = {
                    name: "",
                    value: ""
                };
                this.record.fields.push(field);
            },
            startOutAnimation: function() {
                this.animCount = 0, self = this;

                this.shadowRoot.querySelectorAll(".field").array().forEach(function(item) {
                    var display = window.getComputedStyle(item, null).getPropertyValue("display");
                    if (display != "none") {
                        self.animCount++;
                        item.style["-webkit-animation"] = "slideOutToRight 0.4s ease " + (Math.random()/5) + "s both";
                    }
                });
                
                if (!this.animCount) {
                    this.fire("animation-end", {direction: "out"});
                }
            },
            startInAnimation: function() {
                this.animCount = 0, self = this;

                this.shadowRoot.querySelectorAll(".field").array().forEach(function(item) {
                    var display = window.getComputedStyle(item, null).getPropertyValue("display");
                    if (display != "none") {
                        self.animCount++;
                        item.style["-webkit-animation"] = "slideInFromRight 0.4s ease " + (Math.random()/5) + "s both";
                    }
                });

                if (!this.animCount) { 
                    this.fire("animation-end", {direction: "in"});
                }
            },
            animationEnd: function(event) {
                this.animCount--;
                if (!this.animCount) {
                    this.fire("animation-end", {direction: event.animationName == "slideInFromRight" ? "in" : "out"});
                }
            },
            editingChanged: function() {
                if (this.editing) {
                    this.classList.add("editing");
                } else {
                    this.classList.remove("editing");
                }
            }
        });
    </script>
</polymer-element>