<polymer-element name="safe-record-item" attributes="record index" constructor="RecordItem">
    <template>
        <style>
            :host {
                display: inline-block;
                width: 100%;
                box-sizing: border-box;
                cursor: pointer;
            }

            @media (min-width: 700px) and (max-width: 1000px) {
                :host {
                    width: 50%;
                }

                :host:nth-child(2n) .inner {
                    margin-right: 5px;
                }
            }

            @media (min-width: 1000px) and (max-width: 1300px) {
                :host {
                    width: 33.33%;
                }

                :host:nth-child(3n) .inner, :host:nth-child(3n-1) .inner {
                    margin-right: 5px;
                }
            }

            @media (min-width: 1300px) {
                :host {
                    width: 25%;
                }

                :host:nth-child(4n) .inner, :host:nth-child(4n-1) .inner, :host:nth-child(4n-2) .inner {
                    margin-right: 5px;
                }
            }

            .inner {
                padding: 13.5px 15px;
                min-height: 23px;
                background: #fff;
                border: solid 1px rgba(0, 0, 0, 0.08);
                border-bottom: solid 1px rgba(0, 0, 0, 0.12);
                margin-top: 5px;
                -webkit-transition: background 0.2s;
            }

            /*:host:not(:last-child) {
                border-bottom: solid 1px rgba(0, 0, 0, 0.1);
            }*/

            :host:hover .inner {
                background: rgba(0, 0, 0, 0.05);
            }

            /*:host:active:hover:not(.disabled) .inner {
                background: rgba(0, 0, 0, 0.1);
            }*/

            :host.selected .inner {
                background: orange;
            }

            .delete {
                float: right;
                cursor: pointer;
                width: 50px;
                height: 50px;
                line-height: 50px;
                text-align: center;
                margin: -13.5px -15px 0 0;
                display: none;
            }
        </style>
        <div class="inner">
            {{record.name}}
        </div>
    </template>
    <script>
        Polymer('safe-record-item');
    </script>
</polymer-element>