<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="dialog.html">
<link rel="import" href="view.html">

<polymer-element name="safe-record-view" extends="safe-view" attributes="record editing">
    <template>
        <link href="record-view.css" rel="stylesheet" type="text/css">
        <div id="animated">
            <template repeat="{{ field, i in record.fields }}">
                <div class="field" on-tap="{{ openFieldMenu }}">
                    <div class="value">{{ field.value }}</div>
                    <div class="label">{{ field.name }}</div>
                </div>
            </template>
            <!-- <div class="add" on-tap="{{ addField }}">
                <safe-shapeshifter shape="plus"></safe-shapeshifter>
            </div> -->
        </div>
        <safe-dialog id="fieldMenu">
            <div on-tap="{{ editField }}">Edit Field</div>
            <div class="negative" on-tap="{{ removeField }}">Remove Field</div>
        </safe-dialog>
        <safe-dialog id="addFieldDialog">
            <input is="fast-input" id="addFieldValueInput" placeholder="Enter Content" />
            <input is="fast-input" id="addFieldNameInput" placeholder="Enter Label" />
            <div on-tap="{{ confirmAddField }}">Add</div>
        </safe-dialog>
        <safe-dialog id="editFieldDialog">
            <input is="fast-input" id="editValueInput" placeholder="Enter Content" />
            <input is="fast-input" id="editNameInput" placeholder="Enter Label" />
            <div on-tap="{{ confirmEditField }}">Save</div>
        </safe-dialog>
    </template>
    <script>
        Polymer('safe-record-view', {
            getAnimationElement: function() {
                return this.$.animated;
            },
            addField: function() {
                this.$.addFieldValueInput.value = "";
                this.$.addFieldNameInput.value = "";
                this.$.addFieldDialog.open();
                this.$.addFieldValueInput.focus();
            },
            confirmAddField: function() {
                this.$.addFieldDialog.close();
                var field = {
                    name: this.$.addFieldNameInput.value,
                    value: this.$.addFieldValueInput.value
                };
                this.record.fields.push(field);
                this.fire("save");
            },
            editField: function() {
                this.$.fieldMenu.close();
                this.$.editValueInput.value = this.selectedField.value;
                this.$.editNameInput.value = this.selectedField.name;
                this.$.editFieldDialog.open();
                this.$.editValueInput.select();
            },
            confirmEditField: function() {
                this.$.editFieldDialog.close();
                this.selectedField.value = this.$.editValueInput.value;
                this.selectedField.name = this.$.editNameInput.value;
                this.fire("save");
            },
            openFieldMenu: function(event, detail, sender) {
                this.selectedField = sender.templateInstance.model.field;
                this.$.fieldMenu.open();
            },
            removeField: function() {
                this.$.fieldMenu.close();
                var util = require("safe/util");
                this.record.fields = util.remove(this.record.fields, this.record.fields.indexOf(this.selectedField));
                this.fire("save");
            }
        });
    </script>
</polymer-element>