<link rel="import" href="../../bower_components/polymer/polymer.html">

<polymer-element name="safe-shapeshifter" attributes="shape">
    <template>
        <link href="shapeshifter.css" rel="stylesheet" type="text/css">
        <svg class="{{ shape }}" viewBox="0 0 100 100">
            <line x1="47" y1="50" x2="53" y2="50" />
            <line x1="47" y1="50" x2="53" y2="50" />
            <line x1="47" y1="50" x2="53" y2="50" />
        </svg>
    </template>
    <script>
        Polymer("safe-shapeshifter");
    </script>
</polymer-element>