<polymer-element name="safe-shapeshifter" attributes="shape">
    <template>
        <style>
            :host {
                display: inline-block;
                width: 30px;
                height: 30px;
                position: relative;
            };

            svg {
                width: 100%;
                height: 100%;
            }

            line {
                stroke: #333;
                stroke-width: 6;
                -webkit-transform-origin: center center;
                -webkit-transition: -webkit-transform 0.5s;
                -webkit-transform: translate(0, 0) scale(0);
            }

            .plus line:nth-child(1) {
                -webkit-transform: translate(0, 0) scale(12, 1);
            }

            .plus line:nth-child(3) {
                -webkit-transform: translate(0, 0) rotate(90deg) scale(12, 1);
            }

            .cancel line:nth-child(1) {
                -webkit-transform: translate(0, 0) rotate(135deg) scale(12, 1);
            }

            .cancel line:nth-child(3) {
                -webkit-transform: translate(0, 0) rotate(-135deg) scale(12, 1);
            }

            .check line:nth-child(1) {
                -webkit-transform: translate(-24.7px, 10.5px) rotate(45deg) scale(6, 1);
            }

            .check line:nth-child(3) {
                -webkit-transform: translate(11.5px, 0) rotate(-45deg) scale(12, 1);
            }

            .menu line:nth-child(1) {
                -webkit-transform: translate(0, -23px) scale(12, 1);
            }

            .menu line:nth-child(2) {
                -webkit-transform: translate(0, 0) scale(12, 1);
            }

            .menu line:nth-child(3) {
                -webkit-transform: translate(0, 23px) scale(12, 1);
            }

            .more line:nth-child(1) {
                -webkit-transform: translate(-26px, 0) scale(2, 2);
            }

            .more line:nth-child(2) {
                -webkit-transform: translate(0, 0) scale(2, 2);
            }

            .more line:nth-child(3) {
                -webkit-transform: translate(26px, 0) scale(2, 2);
            }

            .arrow-right line:nth-child(1) {
                -webkit-transform: translate(0, -17px) rotate(45deg) scale(9, 1);
            }

            .arrow-right line:nth-child(3) {
                -webkit-transform: translate(0, 17px) rotate(-45deg) scale(9, 1);
            }

            .arrow-left line:nth-child(1) {
                -webkit-transform: translate(0, -17px) rotate(-45deg) scale(9, 1);
            }

            .arrow-left line:nth-child(3) {
                -webkit-transform: translate(0, 17px) rotate(45deg) scale(9, 1);
            }
        </style>
        <svg class="{{ shape }}" viewBox="0 0 100 100">
            <line x1="47" y1="50" x2="53" y2="50" />
            <line x1="47" y1="50" x2="53" y2="50" />
            <line x1="47" y1="50" x2="53" y2="50" />
        </svg>
    </template>
    <script>
        Polymer("safe-shapeshifter");
    </script>
</polymer-element>