<link rel="import" href="../../bower_components/polymer/polymer.html">

<polymer-element name="padlock-tag-item" attributes="tag checked" on-tap="{{ tap }}">
    <template>
        <link href="tag-item.css" rel="stylesheet" type="text/css">
        <div class="{{ 'tag-color ' + tag.color }}"></div>
        <div class="tag-label">
            {{ tag.name }}
        </div>
        <padlock-shapeshifter shape="{{ checked ? 'check' : '' }}"></padlock-shapeshifter>
    </template>
    <script>
        Polymer("padlock-tag-item", {
            tag: {},
            checked: false,
            tap: function() {
                this.checked = !this.checked;
            }
        });
    </script>
</polymer-element>