<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="tag-item.html">

<polymer-element name="padlock-tags-view">
    <template>
        <link href="tags-view.css" rel="stylesheet" type="text/css">
        <template repeat="{{ tag in tags }}">
            <padlock-tag-item tag="{{ tag }}"></padlock-tag-item>
        </template>
    </template>
    <script>
        Polymer("padlock-tags-view", {
            colors: ["red", "blue", "green", "yellow"],
            tags: [],
            ready: function() {
                this.tags = [
                    {name: "Work", color: "yellow"},
                    {name: "Private", color: "blue"},
                    {name: "important", color: "red"},
                    {name: "disposable", color: "green"}
                ];
            },
            show: function() {
                this.classList.add("show");
            },
            hide: function() {
                this.classList.remove("show");
            }
        });
    </script>
</polymer-element>