<link rel="import" href="../../bower_components/polymer/polymer.html">

<polymer-element name="padlock-view" attributes="inAnimation outAnimation animationDuration animationEasing maxAnimationDelay"
    style="display: none">
    <template>
        <!-- STYLES -->
        <link href="view.css" rel="stylesheet" type="text/css">
    </template>
    <script>
        Polymer('padlock-view', {
            headerOptions: {
                show: false,
                leftIconShape: "",
                rightIconShape: "",
                showFilter: false,
                titleText: ""
            },
            inAnimation: "slideInFromRight",
            outAnimation: "slideOutToLeft",
            animationDuration: 400,
            animationEasing: "ease",
            maxAnimationDelay: 200,
            leftHeaderButton: function() {},
            rightHeaderButton: function() {},
            enteredView: function() {
                var eventName = require(["padlock/util"], function(util) {
                    var eventName = util.getAnimationEndEventName();  
                    this.addEventListener(eventName, function() {
                        this.animationEnd.apply(this, arguments);
                    }, false);
                }.bind(this))
            },
            getAnimationElement: function() {
                return this;
            },
            startAnimation: function(direction, animation, callback) {
                animation = animation || this[direction + "Animation"];
                // animation = "";
                this.currAnimation = animation;
                this.currDirection = direction;
                this.animationCallback = callback;
                var prefix = require("padlock/util").getVendorPrefix().css;

                this.getAnimationElement().style[prefix + "animation"] = [
                    animation,
                    this.animationDuration + "ms",
                    this.animationEasing,
                    0,
                    "both"
                ].join(" ");
                
                if (!animation || !this.animationDuration) {
                    this.fire("animation-end", {direction: direction});
                    if (this.animationCallback) {
                        this.animationCallback();
                        this.animationCallback = null;
                    }
                }
            },
            animationEnd: function(event) {
                if (event.animationName == this.currAnimation) {
                    if (this.animationCallback) {
                        this.animationCallback();
                        this.animationCallback = null;
                    }
                    this.fire("animation-end", {direction: this.currDirection});
                }
            },
            show: function(animation, callback) {
                this.startAnimation("in", animation, callback);
                this.style.display = "";
            },
            hide: function(animation, callback) {
                this.startAnimation("out", animation, function() {
                    this.style.display = "none";
                    if (callback) {
                        callback();
                    }
                }.bind(this));
            }
        });
    </script>
</polymer-element>