@import "../../config.scss";
@import "../../mixins.scss";
@import "compass/css3";

:host {
    display: block;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

.field, .add {
    background: #ffffff;
    height: $row-height;
    line-height: $row-height;
    padding: 0 15px;
    margin-top: 5px;
    cursor: pointer;

    @include display-box;
}

.field {
    width: 100%;
    @include box-sizing(border-box);

    > * {
        text-overflow: ellipsis;
    }

    > .label {
        max-width: 100px;
        text-align: right;
        color: $color-primary;
        @include ellipsis();
    }

    > .value {
        margin-right: 15px;
        @include box-flex(1);
        @include ellipsis();
    }
}

.add {
    line-height: 0;
    text-align: center;
    padding: 0;

    > padlock-shapeshifter {
        display: block;
        width: 26px;
        height: 26px;
        margin: 10px auto;
    }
}