<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../dialog/dialog.html">
<link rel="import" href="../view/view.html">
<link rel="import" href="../input/input.html">

<polymer-element name="padlock-record-view" extends="padlock-view" attributes="record" touch-action="pan-y">
    <template>
        <!-- STYLES -->
        <link href="record-view.css" rel="stylesheet" type="text/css">
        <div class="category color{{ record.catColor }}" on-tap="{{ openCategories }}">{{ record.category ? record.category : "Add a Category" }}</div>
        <!-- FIELD LIST -->
        <template repeat="{{ record.fields }}">
            <div class="field" on-tap="{{ openFieldMenu }}">
                <div class="value">{{ value }}</div>
                <div class="label">{{ name }}</div>
            </div>
        </template>
        <button class="add-button" on-tap="{{ addField }}">Add Field</button>
        <!-- RECORD OPTIONS -->
        <padlock-dialog id="menu">
            <button on-tap="{{ editName }}">Edit Name</button>
            <button on-tap="{{ deleteRecord }}" id="confirmButton">Delete Record</button>
        </padlock-dialog>
        <!-- DELETE CONFIRM DIALOG -->
        <padlock-dialog id="confirmDeleteDialog">
            <div class="title">Are you sure you want to delete this record?</div>
            <button class="primary" on-tap="{{ confirmDelete }}">Delete</button>
            <button on-tap="{{ cancelDelete }}">Cancel</button>
        </padlock-dialog>
        <!-- EDIT NAME DIALOG -->
        <padlock-dialog id="editNameDialog">
            <div class="title">Edit Name</div>
            <input is="padlock-input" id="nameInput" selectAllOnFocus="true" placeholder="Enter Record Name"/>
            <button class="primary" on-tap="{{ confirmEditName }}">Save</button>
        </padlock-dialog>
        <!-- FIELD CONTEXT MENU -->
        <padlock-dialog id="fieldMenu">
            <div class="title">{{ selectedField.name }}</div>
            <input is="padlock-input" id="fieldValueInput" selectAllOnFocus="true" placeholder="Enter Content" />
            <button class="primary" on-tap="{{ confirmEditField }}">Save Changes</button>
            <button on-tap="{{ copyToClipboard }}">Copy to Clipboard</button>
            <button on-tap="{{ randomize }}">Randomize</button>
            <button on-tap="{{ removeField }}">Remove Field</button>
        </padlock-dialog>
        <!-- ADD FIELD DIALOG -->
        <padlock-dialog id="addFieldDialog">
            <div class="title">Add Field</div>
            <input is="padlock-input" id="newValueInput" placeholder="Enter Content" />
            <input is="padlock-input" id="newFieldNameInput" placeholder="Enter Label" />
            <button on-tap="{{ randomize }}">Randomize</button>
            <button class="primary" on-tap="{{ confirmAddField }}">Add</button>
        </padlock-dialog>
        <!-- REMOVE FIELD CONFIRM DIALOG -->
        <padlock-dialog id="confirmRemoveFieldDialog">
            <div class="title">Are you sure you want to remove this field?</div>
            <button class="primary" on-tap="{{ confirmRemoveField }}">Remove</button>
            <button on-tap="{{ cancelRemoveField }}">Cancel</button>
        </padlock-dialog>
    </template>
    <script src="record-view.js"></script>
</polymer-element>