@import "../../styles/config";
@import "nib";

:host {
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.field {
    background: $color-quinary;
    height: $row-height;
    width: 100%;
    padding: 0 15px;
    margin-top: 5px;
    cursor: pointer;

    display: flex;
    align-items: center;
    box-sizing: border-box;

    > .label {
        max-width: 100px;
        text-align: right;
        color: $color-primary;
        overflow: ellipsis;
    }

    > .value {
        margin-right: 15px;
        flex: 1;
        overflow: ellipsis;

        &.obfuscated:not(:empty) {
            letter-spacing: 0.07em;
        }
    }

    &:not(.marked) > .value:empty:after {
        content: "(tap to edit)";
        color: $text-color-faint;
    }

    &.marked {
        background: $color-primary;
        color: #fff;

        > .label {
            color: inherit;
            font-weight: $font-weight-bold;
        }
    }
}

.add-button {
    width: 100%;
    margin: 5px 0;
}

.category {
    background: #fff;
    color: $text-color-faint;
    text-align: center;
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
    overflow: ellipsis;

    &.selected {
        color: $text-color-light;
        background: $color-secondary;
    }
}
