@import "../../styles/config";
@import "nib";

:host {
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.field {
    background: $color-quinary;
    width: 100%;
    margin-top: 5px;
    font-size: 16px;
    box-sizing: border-box;
    position: relative;

    .label-wrapper {
        display: flex;
        border-bottom: solid 1px alpha($color-primary, 0.4);

        .input-wrapper {
            flex: 1;
            color: $color-primary;
            tap-highlight();
        }
    }

    .label {
        color: $color-primary;
        overflow: ellipsis;
        margin-bottom: 3px;
        padding: 10px 0 10px 15px;
        margin: 0;
        height: auto;
        width: 100%;
    }

    .context-menu {
        font-size: 0;
        color: $color-primary;

        > shape-shifter {
            width: 25px;
            height: 25px;
            padding: 8px;
            tap-highlight();
        }
    }

    .shortcut-hint {
        position: absolute;
        font-size: 14px;
        bottom: 0;
        right: 0;
        padding: 11px 10px;
        color: $text-color-faint;
        background: alpha($color-quinary, 0.9);
        pointer-events: none;
    }

    &:not(.marked) .shortcut-hint {
        display: none;
    }

    .value {
        word-wrap: break-word;
        width: 100%;
        padding: 10px 15px;
        box-sizing: border-box;

        &:empty:after {
            content: "(tap to edit)";
            color: $text-color-faint;
        }
    }

    &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        bottom: 0;
        width: 5px;
        background: $color-primary;
        transform: translate(-100%, 0);
        transition: transform 0.3s;
    }

    &.marked::before {
        transform: translate(0, 0);
    }

    .value-wrapper {
        tap-hightlight();
        position: relative;
    }

    .obfuscated {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: $color-quinary;
        letter-spacing: 0.07em;
        pointer-events: none;
        display: none;
    }
}

:host(.obfuscate) .field:not(.marked) .obfuscated:not(:empty) {
    display: block;
}

.add-button {
    width: 100%;
    margin: 5px 0;
    font-size: $font-size-small;
}

.category {
    background: #fff;
    color: $text-color-faint;
    text-align: center;
    font-size: $font-size-small;
    padding: 10px;
    cursor: pointer;
    overflow: ellipsis;

    &.selected {
        color: $text-color-light;
        background: $color-secondary;
    }
}

:host(.touch) .shortcut-hint {
    display: none;
}
