<link rel="import" href="../../padlock.html">
<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/shape-shifter/shape-shifter.html">
<link rel="import" href="../view/view.html">
<link rel="import" href="../markable-behavior/markable-behavior.html">
<link rel="import" href="../input/input.html">
<link rel="import" href="../toggle/toggle.html">
<link rel="import" href="../../styles/shared-styles.html">
<link rel="import" href="../view/view-styles.html">
<link rel="import" href="record-view-styles.html">

<dom-module id="padlock-record-view">

    <template>

        <style include="shared-styles"></style>
        <style include="view-styles"></style>
        <style include="record-view-styles"></style>

        <div class$="{{ _categoryClass(record.category) }}" on-tap="_openCategories">{{ _categoryLabel(record.category) }}</div>

        <template is="dom-repeat" items="{{ record.fields }}" id="fieldList">
            <div class="field" on-mouseover="_fieldMouseover" on-mouseout="_fieldMouseout" on-tap="_openFieldMenu">
                <div class="label">{{ item.name }}</div>
                <div class="separator"></div>
                <div class="value-wrapper">
                    <textarea is="padlock-textarea" class="value" value="{{ item.value::change }}" on-change="_changeHandler" select-all-on-focus
                        on-focus="_focusHandler" on-blur="_blurHandler" rows="1" autosize placeholder="Enter Content" show-accessory-bar></textarea>
                    <textarea class="value obfuscated">{{ _obfuscate(item.value) }}</textarea>
                </div>
                <div class="shortcut-hint">
                    [ctrl/cmd] + C &rarr; Copy
                </div>
            </div>
        </template>

        <button class="add-button" on-tap="_addField">Add Field</button>

        <array-selector id="selector" items="{{ record.fields }}" selected="{{ _selectedField }}"></array-selector>

    </template>

    <script src="record-view.js"></script>

</dom-module>
