<link rel="import" href="../../padlock.html">
<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../styles/shared-styles.html">
<link rel="import" href="dialog-styles.html">

<dom-module id="padlock-dialog">

    <template>
        <style include="shared-styles"></style>
        <style include="dialog-styles"></style>

        <div class="scrim"></div>
        <div class="scroll-container">
            <div class="inner" on-tap="_innerTap">
                <content></content>
            </div>
        </div>
    </template>

    <script src="dialog.js"></script>

</dom-module>
