@import "../../styles/config";
@import "../../styles/mixins";
@import "nib";

:host {
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: transparent;
    display: none;

    .scrim {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: $scrim-color;
        opacity: 0;
        transition: opacity 0.4s;
    }
}

:host(.open) .scrim {
    opacity: $scrim-opacity;
}

.scroll-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    transition: transform 0.5s $toaster-easing;
}

.inner {
    background: $color-primary;
    box-sizing: border-box;
    margin-top: 60px;
    padding-top: 5px;
    overflow: hidden;
}

.inner ::content > * {
    text-align: center;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 5px;
}

.inner ::content > .title {
    background: transparent;
    color: $text-color-light;
    cursor: default;
    border: none;
    padding: 10px;
    line-height: 25px;
    word-wrap: break-word;
    font-weight: $font-weight-bold;
    margin-bottom: 5px;
    text-shadow();

    &:empty {
        display: none;
    }
}

.inner ::content > button {
    border-top: solid 1px;
    border-bottom: solid 1px;
}

:host(:not(.open)) .scroll-container {
    transform: translate3d(0, 100%, 0);
}
