@import "../../styles/config";
@import "nib";

:host {
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: transparent;
    display: none;

    .scrim {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: $scrim-color;
        opacity: 0;
        transition: opacity 0.4s;
    }
}

:host(.open) .scrim {
    opacity: $scrim-opacity;
}

// Failsafe in case the out animation get interrupted and
// the dialog fails to set 'display: none'
:host(:not(.open)) {
    pointer-events: none;
}

.inner {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: $color-primary;
    box-sizing: border-box;
    padding-top: 5px;
    transition: transform 0.5s $toaster-easing;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.inner ::content > * {
    text-align: center;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 5px;
}

.inner ::content > .title {
    background: transparent;
    color: $text-color-light;
    cursor: default;
    border: none;
    padding: 10px;
    line-height: 25px;
    word-wrap: break-word;
    font-weight: $font-weight-bold;
    margin-bottom: 5px;

    &:empty {
        display: none;
    }
}

.inner ::content > input {
    cursor: text;
}

.inner ::content > button.primary {
    color: $color-primary;
    background: #fff;
}

:host(:not(.open)) .inner {
    transform: translate3d(0, 100%, 0);
}
