<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../padlock.html">
<link rel="import" href="../input/input.html">

<dom-module id="padlock-password-input">

    <link rel="import" href="password-input.css" type="css">

    <template>

        <input is="padlock-input" value="{{ value::keydown }}" select-all-on-focus="{{ selectAllOnFocus }}"
            type$="{{ _inputType(obfuscate) }}">

    </template>

    <script>
    /* global Polymer, zxcvbn */

    (function(Polymer, zxcvbn) {
        "use strict";

        Polymer({
            is: "padlock-password-input",
            properties: {
                value: {
                    type: String,
                    value: "",
                    notify: true,
                    observer: "_valueChanged"
                },
                obfuscate: Boolean,
                selectAllOnFocus: Boolean
            },
            _valueChanged: function(value) {
                var score = zxcvbn(value).score;
                this.setAttribute("score", score);
            },
            _inputType: function(obfuscate) {
                console.log(obfuscate);
                return obfuscate ? "password" : "text";
            }
        });

    })(Polymer, zxcvbn);

    </script>

</dom-module>
