<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../padlock.html">
<link rel="import" href="../input/input.html">

<dom-module id="padlock-password-input">

    <link rel="import" href="password-input.css" type="css">

    <template>

        <input is="padlock-input" value="{{ value::keyup }}" select-all-on-focus="{{ selectAllOnFocus }}"
            type$="{{ _inputType(obfuscate) }}" placeholder$="{{ placeholder }}">

    </template>

    <script>
    /* global Polymer, zxcvbn */

    (function(Polymer, zxcvbn) {
        "use strict";

        Polymer({
            is: "padlock-password-input",
            properties: {
                value: {
                    type: String,
                    value: "",
                    notify: true
                },
                obfuscate: Boolean,
                selectAllOnFocus: Boolean,
                placeholder: String,
                score: {
                    type: Number,
                    value: 0,
                    notify: true,
                    reflectToAttribute: true,
                    computed: "_score(value)"
                }
            },
            blur: function() {
                this.$$("input").blur();
            },
            focus: function() {
                this.$$("input").focus();
            },
            _score: function(value) {
                return value ? zxcvbn(value).score : -1;
            },
            _inputType: function(obfuscate) {
                return obfuscate ? "password" : "text";
            }
        });

    })(Polymer, zxcvbn);

    </script>

</dom-module>
