@font-face {
  font-family: 'Clear Sans';
  font-style: normal;
  font-weight: 100;
  src: local('Clear Sans Thin'), local('ClearSans-Thin'), url(../../assets/fonts/ClearSans-Thin.woff) format('woff');
}
@font-face {
  font-family: 'Clear Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Clear Sans Light'), local('ClearSans-Light'), url(../../assets/fonts/ClearSans-Light.woff) format('woff');
}
@font-face {
  font-family: 'Clear Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Clear Sans Regular'), local('ClearSans-Regular'), url(../../assets/fonts/ClearSans-Regular.woff) format('woff');
}
@font-face {
  font-family: 'Clear Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Clear Sans Bold'), local('ClearSans-Bold'), url(../../assets/fonts/ClearSans-Bold.woff) format('woff');
}
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: local('Inconsolata Regular'), local('Inconsolata-Regular'), url(../../assets/fonts/Inconsolata-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Padlock';
    src: url('../../assets/fonts/Padlock.eot');
    src: url('../../assets/fonts/Padlock.eot?#iefix') format('embedded-opentype'),
         url('../../assets/fonts/Padlock.woff') format('woff'),
         url('../../assets/fonts/Padlock.ttf') format('truetype'),
         url('../../assets/fonts/Padlock.svg#Padlock') format('svg');
    font-weight: normal;
    font-style: normal;
}
