<link rel="import" href="../../padlock.html">
<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/shape-shifter/shape-shifter.html">
<link rel="import" href="../input/input.html">
<link rel="import" href="../../styles/shared-styles.html">
<link rel="import" href="header-styles.html">

<dom-module id="padlock-header">

    <template>

        <style include="shared-styles"></style>
        <style include="header-styles"></style>

        <div>
            <!-- LEFT BUTTON -->
            <shape-shifter id="leftIcon" shape="menu" on-tap="_leftClicked" springy></shape-shifter>
            <div class="middle tap-highlight">
                <!-- FILTER INPUT -->
                <input id="filterInput" is="padlock-input" class="filter-input" value="{{ filterString::keyup }}"
                type="search" tabindex="-1" placeholder$="{{ _filterPlaceholder(_filterHasFocus) }}"
                disabled$="{{ !_view.showFilter }}" has-focus="{{ _filterHasFocus }}" select-all-on-focus
                on-enter="_filterEnter"/>
                <!-- HEADER TITLE -->
                <div class="title" on-tap="_titleTapped">{{ _title }}</div>
            </div>
            <!-- RIGHT BUTTON -->
            <shape-shifter id="rightIcon" shape="plus" on-tap="_rightClicked" springy></shape-shifter>
        </div>
    </template>

    <script src="header.js"></script>

</dom-module>
