@import "../../styles/config";
@import "nib";

$width = 50px;
$height = 30px;
$gutter-width = 2px;
$bg-color-off = $color-quaternary;
$bg-color-on = $color-primary;
$anim-duration = 0.5s;

:host {
    display: inline-block;
    width: $width;
    height: $height;
    background: $bg-color-off;
    border-radius: $height;

    transition: background $anim-duration ease;
}

.knob {
    $size = $height - 2 * $gutter-width;
    content: "";
    display: block;
    height: $size;
    width: $size;
    margin: $gutter-width;
    background: #fff;
    border-radius: $size;

    transition: transform $anim-duration cubic-bezier(1, -0.5, 0, 1.5) -0.2s;
}

:host(.on) {
    background: $bg-color-on;

    .knob {
        transform: translate($width - $height, 0);
    }
}
