<link rel="import" href="../../padlock.html">
<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../styles/shared-styles.html">
<link rel="import" href="toggle-styles.html">
<link rel="import" href="toggle-button-styles.html">

<dom-module id="padlock-toggle">

    <template>

        <style include="shared-styles"></style>
        <style include="toggle-styles"></style>

        <div class="knob"></div>

    </template>

</dom-module>

<dom-module id="padlock-toggle-button">

    <template>

        <style include="shared-styles"></style>
        <style include="toggle-button-styles"></style>

        <button>
            <span>{{ label }}</span>
            <padlock-toggle value="{{ value }}" notap></padlock-toggle>
        </button>

    </template>

</dom-module>

<script>
/* global Polymer */

(function(Polymer) {
    "use strict";

    Polymer({
        is: "padlock-toggle",
        properties: {
            value: {
                type: Boolean,
                value: false,
                notify: true,
                observer: "_valueChanged"
            },
            notap: Boolean
        },
        listeners: {
            tap: "_tap"
        },
        _tap: function() {
            if (!this.notap) {
                this.toggle();
            }
        },
        toggle: function() {
            this.value = !this.value;
        },
        _valueChanged: function() {
            this.toggleClass("on", this.value);
            this.fire("change");
        }
    });

    Polymer({
        is: "padlock-toggle-button",
        properties: {
            value: {
                type: Boolean,
                value: false,
                notify: true
            },
            label: String
        },
        listeners: {
            tap: "toggle"
        },
        toggle: function() {
            this.$$("padlock-toggle").toggle();
        }
    });

})(Polymer);

</script>
