:host {
    text-align: left;
    display: block;
}

button {
    position: relative;
    width: 100%;
    text-align: inherit;
}

padlock-toggle {
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    margin: auto 0;
}
