<link rel="import" href="../../padlock.html">
<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../view/view.html">
<link rel="import" href="../input/input.html">
<link rel="import" href="../notification/notification.html">
<link rel="import" href="../lock/lock.html">

<dom-module id="padlock-start-view">

    <link href="../view/view.css" rel="import" type="css">
    <link href="start-view.css" rel="import" type="css">

    <template>

        <padlock-lock></padlock-lock>

        <!-- WRAPPER (for centering) -->
        <div class="wrapper">
            <!-- HEADER -->
            <div class="header">
                Padlock
            </div>
            <!-- NEW PASSWORD INPUT -->
            <input is="padlock-input" class="ghost pwdinput-first" type="password" placeholder="Enter Master Password"
                id="pwdInput" on-enter="enter" selectAllOnFocus />
            <!-- CONFIRM PASSWORD INPUT -->
            <input is="padlock-input" class="ghost pwdinput-second" type="password" placeholder="Confirm Master Password"
                id="confirmInput" on-enter="enter" selectAllOnFocus />
            <!-- ENTER BUTTON -->
            <button class="enter-button ghost" on-tap="enter">OK</button>
        </div>

        <padlock-notification id="notification"></padlock-notification>
    </template>

    <script src="start-view.js"></script>

</dom-module>
