@import "../../styles/config";
@import "nib";

@keyframes reveal {
    from { transform: translate3d(0, 100%, 0); opacity: 0; }
    50% { transform: translate3d(0, -10%, 0); opacity: 1; }
    to { transform: translate3d(0, 0, 0); opacity: 1; }
}

:host {
    display: block;
    background-color: $color-primary;
    overflow: hidden;
}

.wrapper {
    height: 450px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    text-align: center;

    input {
        text-align: center;
        width: 100%;
        margin-bottom: 15px;
    }
}

.header {
    font-size: 50px;
    font-weight: 300;
    color: #fff;
    margin-bottom: 30px;
    font-weight: $font-weight-thin;
    animation: reveal 0.5s ease 0.20s both;
}

.pwdinput-first {
    animation: reveal 0.5s ease 0.40s both;
}

.pwdinput-second {
    animation: reveal 0.5s ease 0.60s both;
}

.enter-button {
    width: 100%;
    margin-top: 10px;
    animation reveal 0.5s ease 0.8s both;
}

padlock-lock {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -50px;
    margin: 0 auto;
    animation: reveal 0.5s ease 1.25s both;
}
