@import "../../styles/config";
@import "../view/view";
@import "nib";

@keyframes reveal {
    from { transform: translate3d(0, 100%, 0); opacity: 0; }
    50% { transform: translate3d(0, -10%, 0); opacity: 1; }
    to { transform: translate3d(0, 0, 0); opacity: 1; }
}

:host {
    background-color: $color-primary;
}

:host(.error)  {
    .error-message {
        opacity: 1;
        transform: translate(0, 0);
    }
}

.wrapper {
    height: 310px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    text-align: center;

    input {
        text-align: center;
        width: 100%;
        margin-bottom: 15px;
    }
}

.header {
    font-size: 50px;
    font-weight: 300;
    color: #fff;
    margin-bottom: 30px;
    font-weight: $font-weight-thin;
    animation: reveal 0.5s ease 0.25s both;
}

.pwdinput-first {
    animation: reveal 0.5s ease 0.50s both;
}

.pwdinput-second {
    animation: reveal 0.5s ease 0.75s both;
}

p {
    padding: 15px;
}

.error-message {
    color: $color-red;
    padding: 20px;
    opacity: 0;

    transform: translate(0, 100%);
    transition: transform 0.5s, opacity 0.5s;
}

.enter-button {
    width: 100%;
    margin-top: 30px;
    animation reveal 0.5s ease 1s both;
}