<link rel="import" href="../../padlock.html">
<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../view/view.html">
<link rel="import" href="../input/input.html">
<link rel="import" href="../password-input/password-input.html">
<link rel="import" href="../lock/lock.html">

<dom-module id="padlock-start-view">

    <link href="../view/view.css" rel="import" type="css">
    <link href="start-view.css" rel="import" type="css">

    <template>

        <padlock-lock></padlock-lock>

        <!-- WRAPPER (for centering) -->
        <form class="wrapper">
            <!-- HEADER -->
            <div class="header">
                Padlock
            </div>
            <!-- NEW PASSWORD INPUT -->
            <div class="tap-highlight">
                <padlock-password-input class="ghost pwdinput-first" placeholder="Enter Master Password"
                    id="pwdInput" on-enter="enter" select-all-on-focus obfuscate></padlock-password-input>
            </div>
            <!-- CONFIRM PASSWORD INPUT -->
            <div class="tap-highlight">
                <input is="padlock-input" class="ghost pwdinput-second" type="password" placeholder="Confirm Master Password"
                    id="confirmInput" on-enter="enter" select-all-on-focus />
            </div>
            <!-- ENTER BUTTON -->
            <button class="enter-button ghost" on-tap="enter" type="button">OK</button>
        </form>

    </template>

    <script src="start-view.js"></script>

</dom-module>
