<link rel="import" href="../../padlock.html">
<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../lock-view/lock-view.html">
<link rel="import" href="../start-view/start-view.html">
<link rel="import" href="../header/header.html">

<polymer-element name="padlock-shutter" attributes="errorMessage enterLocked currentView filterString scrim startMode">
    <template>
        <!-- STYLES -->
        <link href="shutter.css" rel="stylesheet" type="text/css">
        <div class="overhang"></div>
        <!-- START VIEW -->
        <padlock-start-view id="startView" style="display: {{ startMode ? '' : 'none' }}"></padlock-start-view>
        <!-- LOCK VIEW -->
        <padlock-lock-view id="lockView" errorMessage="{{ errorMessage }}"
            style="{{ startMode ? 'display: none' : '' }}"></padlock-lock-view>
        <!-- HEADER -->
        <padlock-header id="header" view="{{ currentView }}" filterString="{{ filterString }}"
            showFilterInput="{{ currentView.headerOptions.showFilter && open }}" scrim="{{ scrim }}"></padlock-header>
    </template>
    <script src="shutter.js"></script>
</polymer-element>