@import "animation";
@import "compass/css3/transform";

@include keyframes(slideInFromRight) {
    from {@include transform(translate3d(100%, 0, 0)); opacity: 0;}
    to {@include transform(translate3d(0, 0, 0)); opacity: 1;}
}

@include keyframes(slideInFromLeft) {
    from {@include transform(translate3d(-100%, 0, 0)); opacity: 0;}
    to {@include transform(translate3d(0, 0, 0)); opacity: 1;}
}

@include keyframes(slideOutToRight) {
    from {@include transform(translate3d(0, 0, 0)); opacity: 1;}
    to {@include transform(translate3d(100%, 0, 0)); opacity: 0;}
}

@include keyframes(slideOutToLeft) {
    from {@include transform(translate3d(0, 0, 0)); opacity: 1;}
    to {@include transform(translate3d(-100%, 0, 0)); opacity: 0;}
}

@include keyframes(slideInFromBottom) {
    from {@include transform(translate3d(0, 100%, 0)); opacity: 0;}
    to {@include transform(translate3d(0, 0, 0)); opacity: 1;}
}

@include keyframes(slideOutToBottom) {
    from {@include transform(translate3d(0, 0, 0)); opacity: 1;}
    to {@include transform(translate3d(0, 100%, 0)); opacity: 0;}
}

@include keyframes(floatUp) {
    from {@include transform(translate3d(0, 5%, 0)); opacity: 0;}
    to {@include transform(translate3d(0, 0, 0)); opacity: 1;}
}

@include keyframes(fadeIn) {
    from {opacity: 0;}
    to {opacity: 1;}
}

@include keyframes(fadeOut) {
    from {opacity: 1;}
    to {opacity: 0;}
}

@include keyframes(bounceIn) {
    0% {@include transform(scale(0.1)); opacity: 0;}
    30% {@include transform(scale(1.1)); opacity: 1;}
    70% {@include transform(scale(0.95));}
    100% {@include transform(scale(1));}
}

@include keyframes(bounce) {
    0% {@include transform(scale(1));}
    30% {@include transform(scale(1.1));}
    70% {@include transform(scale(0.95));}
    100% {@include transform(scale(1));}
}