$font-size-default: 18px;
$font-weight-default: 300;

$text-color: #222222;

$bg-color-grey: #f5f5f5;
$bg-color-blue: #59c6ff;
$bg-color-gree: #9eed6d;
$bg-color-yellow: #feeb75;
$bg-color-red: #ff8283;