$font-size-default: 18px;
$font-weight-default: 400;
$font-weight-bold: 700;

$text-color: #333;
$text-color-light: #ffffff;

$color-grey: #f5f5f5;
$color-blue: #59c6ff;
$color-green: #9eed6d;
$color-yellow: #feeb75;
$color-red: #ff8283;

$color-primary: $color-blue;
$color-negative: red;

$placeholder-color: rgba(0, 0, 0, 0.3);
$placeholder-color-light: rgba(255, 255, 255, 0.5);

$border-color: rgba(0, 0, 0, 0.2);
$border-color-light: rgba(255, 255, 255, 0.5);

$row-height: 50px;

$cat-color-1: $color-green;
$cat-color-2: $color-yellow;
$cat-color-3: $color-red;