<link rel="import" href="../../padlock.html">
<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../view/view.html">

<polymer-element name="padlock-list-view" extends="padlock-view"
    attributes="collection filterString selected categories marked settings" touch-action="pan-y">
    <template>
        <!-- STYLES -->
        <link href="list-view.css" rel="stylesheet" type="text/css">
        <!-- LIST CONTAINER -->
        <div class="list" id="list">
            <template repeat="{{ records }}">
                <template if="{{ firstInSection }}">
                        <!-- SECTION HEADER -->
                    <div class="section-header {{ showCategory ? '' : 'color' + catColor }}">{{ section }}</div>
                </template>
                <div class="record-item" on-tap="{{ recordClicked }}" hidden?="{{ hidden }}">
                    <div class="record-item-inner">
                        <div class="record-item-name">{{ name }}</div>
                        <div class="record-item-category color{{ catColor }}"
                            style="{{ showCategory ? '' : 'display:none' }}">{{ category }}</div>
                    </div>
                </div>
            </template>
            <!-- ACTIONS FOR EMPTY LIST -->
            <template if="{{ empty }}">
                <div class="empty">
                    <button on-tap="{{ import }}">Import Data</button>
                    <button on-tap="{{ synchronize }}">Synchronize</button>
                    <button on-tap="{{ rightHeaderButton }}">Create Record</button>
                </div>
            </template>
        </div>
    </template>
    <script src="list-view.js"></script>
</polymer-element>