<link rel="import" href="../../padlock.html">
<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../view/view.html">

<dom-module id="padlock-list-view">
    <link href="../view/view.css" rel="import" type="css">
    <link href="list-view.css" rel="import" type="css">

    <template>
        <div class="list">

            <template id="list" is="dom-repeat" items="{{ records }}"
                filter="_filter" sort="_sort" observe="name category removed">
                <template is="dom-if" if="{{ _showSectionHeader(item.name, item.category, settings.order_by, index) }}">
                    <div class$="{{ _sectionHeaderClass(item.category, settings.order_by) }}">
                        <span>{{ _section(item.name, item.category, settings.order_by) }}</span>
                    </div>
                </template>
                <div class="record-item" on-tap="_recordClicked">
                    <div class="record-item-inner">
                        <div class="record-item-name">{{ item.name }}</div>
                        <div class$="{{ _categoryClass(item.category) }}"
                            hidden$="{{ !_showCategory(settings.order_by) }}">{{ item.category }}</div>
                    </div>
                </div>
            </template>

            <!-- ACTIONS FOR EMPTY LIST -->
            <div class="empty" hidden$="{{ !_empty }}">
                <button on-tap="import">Import Data</button>
                <button on-tap="synchronize">Synchronize</button>
                <button on-tap="rightHeaderButton">Create Record</button>
            </div>

        </div>
    </template>

    <script src="list-view.js"></script>

</dom-module>
