@import "../../styles/config";
@import "../../styles/mixins";
@import "nib";

:host {
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    font-size: 0;
    padding-bottom: 5px;
    box-sizing: border-box;
}

.record-item {
    display: block;
    cursor: pointer;
    padding: 5px 0 0 0;
    vertical-align: top;
    box-sizing: border-box;

    .record-item-inner {
        height: $row-height;
        background: $color-quinary;
        width: 100%;
        display: flex;
        align-items: center;
    }

    .record-item-name {
        padding: 0 15px;
        flex: 1;
        overflow: ellipsis;
    }

    .record-item-category {
        font-size: $font-size-tiny;
        background: #ddd;
        color: $text-color-light;
        border: solid transparent;
        border-width: 0 5px;
        line-height: 27px;
        max-width: 80px;
        border-radius: 4px;
        margin-right: 15px;
        font-weight: $font-weight-bold;
        overflow: ellipsis;
        background: $color-secondary;
    }

    &.marked .record-item-inner {
        background: $color-primary;
        color: $text-color-light;
    }
}

.record-item, .section-header, .empty {
    font-size: $font-size-default;
}

.section-header {
    padding: 5px 15px;
    margin-bottom: -5px;
    color: $color-primary;
    top: 0;
    background: $color-quaternary;
    position-sticky();
}

.list {
    min-height: 100%;
}

.empty {
    position: absolute;
    height: 210px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    text-align: center;

    > button {
        width: 100%;
        margin-top: 15px;
    }
}

@media (min-width: 700px) {
    :host {
        padding-left: 5px;
    }

    .record-item {
        display: inline-block;
        padding-right: 5px;
    }
}

@media (min-width: 700px) and (max-width: 1000px) {
    .record-item {
        width: 50%;
    }
}

@media (min-width: 1000px) and (max-width: 1300px) {
    .record-item {
        width: 33.33%;
    }
}

@media (min-width: 1300px) {
    .record-item {
        width: 25%;
    }
}
