@import "../../styles/config";

input, button, padlock-toggle-button {
    display: block;
    width: 100%;
    margin: 5px 0;
}

input {
    text-align: center;
}

.length-wrapper {
    background: #fff;
    display: flex;
    align-items: center;
    margin-bottom: 5px;

    input[type="range"] {
        margin: 0;
        flex: 1;
    }

    span {
        margin: 0 20px 0 5px;
    }
}
