<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../view/view.html">

<polymer-element name="padlock-homescreen-view" extends="padlock-view">
    <template>
        <!-- STYLES -->
        <link href="homescreen-view.css" rel="stylesheet" type="text/css">
        <!-- WRAPPER (for centering) -->
        <div class="wrapper">
            <div class="app-icon"></div>
            <div class="message">Add me to your <strong>home screen</strong>!</div>
            <div class="hint"></div>
        </div>
    </template>
    <script src="homescreen-view.js"></script>
</polymer>