<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../padlock.html">
<link rel="import" href="../view/view.html">
<link rel="import" href="../input/input.html">
<link rel="import" href="../notification/notification.html">
<link rel="import" href="../select/select.html">

<dom-module id="padlock-export-view">

    <link rel="import" href="../view/view.css" type="css">
    <link rel="import" href="export-view.css" type="css">

    <template>

        <padlock-select value="{{ _type }}">
            <padlock-option value="csv" label="CSV" default></padlock-option>
            <padlock-option value="encrypted" label="Encrypted"></padlock-option>
        </padlock-select>

        <textarea is="padlock-textarea" select-all-on-focus show-accessory-bar
            value="{{ _exportValue(_type, _csv, _encrypted) }}" nowrap$="{{ !_shouldWrap(_type) }}"></textarea>

        <padlock-notification message="Copied to clipboard!"></padlock-notification>

    </template>

    <script>
    /* global Polymer, padlock */

    (function(Polymer, ViewBehavior, exp, platform) {
        "use strict";

        Polymer({
            is: "padlock-export-view",
            behaviors: [ViewBehavior],
            properties: {
                records: Array,
                collection: Object,
                _type: String,
                _csv: String,
                _encrypted: String
            },
            ready: function() {
                this.headerTitle = "Export";
                this.leftHeaderIcon = "left";
                this.rightHeaderIcon = "copy";
            },
            leftHeaderButton: function() {
                this.fire("back");
            },
            rightHeaderButton: function() {
                this.copyToClipboard();
            },
            show: function() {
                platform.keyboardDisableScroll(true);
                this._generateCsv();
                this._extractEncryptedData();
                ViewBehavior.show.apply(this, arguments);
            },
            hide: function() {
                platform.keyboardDisableScroll(false);
                ViewBehavior.hide.apply(this, arguments);
            },
            _generateCsv: function() {
                this._csv = exp.generateCsv(this.records);
            },
            _extractEncryptedData: function() {
                var store = this.collection.store;
                store.defaultSource.fetch({key: store.getKey(this.collection), success: function(data) {
                    this._encrypted = JSON.stringify(data);
                }.bind(this)});
            },
            copyToClipboard: function() {
                platform.setClipboard(this._exportValue());
                this.$$("padlock-notification").show("Copied to clipboard!", "success", 2000);
            },
            _exportValue: function() {
                return this._type == "encrypted" ? this._encrypted : this._csv;
            },
            _shouldWrap: function(type) {
                return type == "encrypted";
            }
        });

    })(Polymer, padlock.ViewBehavior, padlock.export, padlock.platform);

    </script>

</dom-module>
