@import "../../styles/config";
@import "../../styles/mixins";

:host {
    tap-highlight();
    background: #fff;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    color: $color-primary;

    input[type="range"] {
        margin: 0;
        flex: 1;
    }

    .label {
        margin: 0 5px 0 20px;
    }

    .value-display {
        margin: 0 20px 0 5px;
    }
}
